{% set bodyClass = "page" %}
{% block title %}{{ 'errors.not-found.title'|trans }} - La Roche d'Or - Logomotion{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <h1>{{ 'errors.not-found.title'|trans }}</h1>
        <div class="intro">
            {{ 'errors.not-found.intro'|trans({'%link%': path('home')})|raw }}
        </div>
    </div>
    <div class="hole">
    </div>
</div>
{% endblock %}