<h2><center>Order confirmed</center></h2>

<p>Your order number is <b>{{order.refcom}}</b> please keep this number safe as you will need it for any queries related to your order.</p>
<p>Your order:</p>
{% if withDelay == true %}
<p>Deliveries are usually made within {{minliv}} and {{maxliv}} working days.</p>
{% endif %}
<p>Your order will be delivered to the following address :</p>
<p><center><b>{{adliv}}</b></center></p>
<p>We are available to answer any further questions or provide any information you need.</p>
<p>Kind Regards</p>
The Editions Roche d’Or team</p>