<h2><center>Confirmation de commande</center></h2>

<p>Su pedido está inscrito con el número <b>{{order.refcom}}</b> y se lo agradecemos. Le aconsejamos que guarde este número que se le pedirá para cualquier cuestión relacionada con su pedido.</p>
{% if withDelay == true %}
<p>A título indicativo, las entregas se realizan en un plazo de {{minliv}} a {{maxliv}} días laborables a partir de la recepción del pago de su pedido.</p>
{% endif %}
<center>Por favor, haga su cheque a la atención de : Ediciones Roche d’Or </center>
<center>y a nombre de :</center>
<center>Ediciones Roche d’Or</center>
<center>Chemin du Muenot</center>
<center>25042 BESANÇON Cedex</center>
<p> Su pedido será entregado a la siguiente dirección : </p>
<p><center><b>{{adliv}}</b></center></p>
<p>Quedamos a su entera disposición para cualquier información o solicitud adicional.</p>
<p>Cordialmente</p>
<p>El equipo de las Ediciones Roche d'Or</p>
