<h2><center>Order confirmed</center></h2>

<p>Your order number is <b>{{order.refcom}}</b> please keep this number safe as you will need it for any queries related to your order.</p>
<p>Your order:</p>
{% if withDelay == true %}
<p>Deliveries are usually made within {{minliv}} and {{maxliv}} working days upon receipt of payment.</p>
{% endif %}
<center>Please make cheques payable to :</center>
<center>Éditions Roche d’Or</center>
<center>and post to :</center>
<center>Éditions Roche d’Or</center>
<center>Chemin du Muenot</center>
<center>25042 BESANÇON Cedex</center>
<p>Your order will be delivered to the following address :</p>
<p><center><b>{{adliv|raw}}</b></center></p>
<p>We are available to answer any further questions or provide any information you need.</p>
<p>Kind Regards</p>
<p>The Editions Roche d’Or team</p>
