<h2><center>Confirmation de commande</center></h2>

<p>Votre commande est bien enregistrée sous le numéro <b>{{order.refcom}}</b> et nous vous en remercions. Nous vous invitons à conserver ce numéro qui vous sera demandé pour
toute question relative à votre commande.</p>
<p>Les livraisons sont effectuées dans un délai maximum de [nbJour] jours ouvrés à compter de la réception du paiement de votre commande.</p>
<p> Votre commande sera livrée a l'adresse suivante : </p>
<p><center><b>{{order.adliv}}</b></center></p>
<p>Nous restons à votre entière disposition pour tout complément et demande d’informations.</p>
<p>Avec toute notre sympathie 
L'équipe des Editions Roche d’Or</p>