<h2> <center> Order Confirmation </center> </h2>

<p> Your order is registered under the number <b> {{order.refcom}} </b> and we thank you for it. We invite you to keep this number which will be asked for
any question relating to your order. </p>
<p> Deliveries are made within a maximum of [nbJour] working days from receipt of payment of your order. </p>
<p> Your order will be delivered to the following address: </p>
<P> <center> <b> {{order.adliv}} </b> </center> </p>
<p> We remain at your disposal for any further information and requests. </p>
<p> With all our sympathy
The team of Editions Roche d'Or </p>
<a href=""> back to the collection </a>