<h2> <center> Conferma dell'ordine </center> </h2>

<p> Il tuo ordine è registrato con il numero <b> {{order.refcom}} </b> e ti ringraziamo per questo. Ti invitiamo a conservare questo numero che verrà richiesto
qualsiasi domanda relativa al tuo ordine. </p>
<p> Le consegne vengono effettuate entro un massimo di [nb] giorni lavorativi dalla ricezione del pagamento del tuo ordine. </p>
<p> Il tuo ordine verrà consegnato al seguente indirizzo: </p>
<P> <center> <b> {{order.adliv }} </b> </center> </p>
<p> Rimaniamo a vostra disposizione per ulteriori informazioni e richieste. </p>
<p> Con tutta la nostra simpatia
Il team di Editions Roche d'Or </p>
<a href=""> torna alla raccolta </a>