<h2> <center> Auftragsbestätigung </center> </h2>

<p> Ihre Bestellung ist unter der Nummer <b> {{order.refcom}} </b> registriert und wir danken Ihnen dafür. Wir laden Sie ein, diese Nummer zu behalten, um die gebeten wird
jede Frage zu Ihrer Bestellung. </p>
<p> Lieferungen erfolgen innerhalb von maximal [nbJour] Werktagen ab Eingang der Zahlung Ihrer Bestellung. </p>
<p> Ihre Bestellung wird an folgende Adresse geliefert: </p>
<P> <center> <b> {{order.adliv}} </b> </center> </p>
<p> Für weitere Informationen und Anfragen stehen wir Ihnen gerne zur Verfügung. </p>
<p> Mit all unserer Sympathie
Das Team der Editions Roche d'Or </p>
<a href=""> zurück zur Sammlung </a>