<h2><center>Confirmation de commande</center></h2>

<p>Votre commande est bien enregistrée sous le numéro <b>{{order.refcom}}</b> et nous vous en remercions. Nous vous invitons à conserver ce numéro qui vous sera demandé pour
toute question relative à votre commande.</p>
{% if withDelay == true %}
<p>À titre indicatif, les livraisons sont effectuées dans un délai de {{minliv}} à {{maxliv}} jours ouvrés.</p>
{% endif %}
<p> Votre commande sera livrée a l'adresse suivante : </p>
<p><center><b>{{adliv}}</b></center></p>
<p>Nous restons à votre entière disposition pour tout complément et demande d’informations.</p>
<p>Avec toute notre sympathie 
L'équipe des Editions Roche d’Or</p>
<a href="">retour aux collection</a>