<h2> <center> Confirmación de pedido </center> </h2>

<p> Su pedido está registrado con el número <b> {{order.refcom}} </b> y le agradecemos por ello. Te invitamos a mantener este número que se pedirá
cualquier pregunta relacionada con su pedido. </p>
<p> Las entregas se realizan dentro de un máximo de [nbJour] días hábiles desde la recepción del pago de su pedido. </p>
<p> Su pedido será entregado a la siguiente dirección: </p>
<P> <centro> <b> {{order.adliv }} </b> </center> </p>
<p> Estamos a su disposición para cualquier información adicional y solicitudes. </p>
<p> Con toda nuestra simpatía
El equipo de Editions Roche d'Or </p>
<a href=""> volver a la colección </a>