<p>Vous avez demandé une réinitialisation de votre mot de passe.</p>
<p><strong>Pour des raisons de sécurité, votre identifiant a peut-être été modifié.</strong> Vous pouvez accéder à votre fiche d'identification avec l'identifiant suivant : <i>{{ contact.username }}</i>. Vous pourrez alors le changer si vous le désirez.</p>
<p>Si vous n'êtes pas à l'origine de cette action, ne tenez pas compte de cet email.</p>
<p>Si vous souhaitez réllement réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant, celui-ci sera valide pendant 4h.</p>
<a href='{{ link }}'/>Réinitialiser mon mot de passe</a><br>
Si le lien ci-dessus ne fonctionne pas, veuillez copier cette adresse dans votre navigateur internet: <i>{{link}}</i>
