<p>A password reset has been requested for your account.<br>If you did not make this request please ignore this email.</p>
<p><strong>For security reasons, your username may have been changed.<br>Here is your current username :</strong> <i>{{ contact.username }}</i></p>
<p><strong>Please note,</strong> this will be required to register for retreats or make a donation online. <strong>You can change it if you wish</strong> by using the form that appears to check your identity.</p>
<p><strong>To reset your password,</strong> please click on the following link which is valid for 4 hours :<br><a href="{{ link }}">{{ link }}</a><br></p>
<p>If the link shown above does not work, please copy and paste the text into your browser.</p>
<p>If you have any trouble or concerns you can contact La Roche d’Or on +33(0)3.81.41.47.47.</p>
