<p>Ha solicitado un restablecimiento de la contraseña.<br>Si usted no es el autor de esta solicitud, por favor, ignore este correo electrónico.</p>
<p><strong>Por razones de seguridad, su nombre de usuario puede haber sido cambiado.<br>Aquí está su actual nombre de usuario :</strong> <i>{{ contact.username }}</i></p>
<p><strong>Por favor anótelo,</strong> tenga en cuenta que le será útil para realizar sus inscripciones o hacer una donación online. <strong>Podrá modificarlo, si lo desea,</strong> en el formulario que se le presentará para verificar su identidad.</p>
<p><strong>Para restablecer su contraseña,</strong> por favor haga clic en el siguiente enlace que será válido durante 4 horas :<br><a href="{{ link }}">{{ link }}</a><br></p>
<p>Si el enlace anterior no funciona, por favor copie esta dirección en su navegador.</p>
<p>Si tiene algún problema, puede contactar con la Roche d'Or en el +33(0)3 3.81.41.47.47.</p>
