<p>Voi avete richiesto la reinizializzazione della vostra password.<br>Se non siete voi all’origine di questa richiesta, non tenete conto di questa mail.</p>
<p><strong>Per ragioni di sicurezza il vostro identificativo è stato modificato.<br>Ecco il vostro attuale identificativo :</strong> <i>{{ contact.username }}</i></p>
<p><strong>Grazie di annotarlo,</strong> vi sarà utile per realizzare le vostre domande d’iscrizione o effettuare un dono on-line. <strong>Voi potrete modificarlo, se lo desiderate,</strong> nella scheda che vi sarà presentata per verificare la vostra identità.</p>
<p><strong>Per reinizializzare la vostra password,</strong> cliccate sul link seguente che sarà valido per 4 ore :<br><a href="{{ link }}">{{ link }}</a><br></p>
<p>Se questo link non funziona, copiate questo indirizzo nel vostro browser internet.</p>
<p>In caso di problemi, potete contattare la Roche d’Or al numero: +33 (0)3 81 41 47 47.</p>
