<p>Sie haben eine Passwortzurücksetzung beantragt.<br>Wenn Sie nicht der Absender dieser Anfrage sind, ignorieren Sie bitte diese E-Mail.</p>
<p><strong>Aus Sicherheitsgründen kann Ihr Benutzername geändert worden sein.<br>Hier ist Ihr aktueller Benutzername :</strong> <i>{{ contact.username }}</i></p>
<p><strong>Bitte notieren Sie es,</strong>  dass es für Sie nützlich sein wird, Ihre Registrierungsanfragen auszufüllen oder eine Spende online zu tätigen. <strong>Sie können es, wenn Sie es wünschen,</strong> in dem Formular ändern, das Ihnen zur Überprüfung Ihrer Identität vorgelegt wird.</p>
<p><strong>Um Ihr Passwort zurückzusetzen,</strong> klicken Sie bitte auf den folgenden Link, der 4 Stunden lang gültig ist :<br><a href="{{ link }}">{{ link }}</a><br></p>
<p>Falls der obige Link nicht funktioniert, kopieren Sie bitte diese Adresse in Ihren Webbrowser.</p>
<p>Wenn Sie Probleme haben, können Sie sich unter 03.81.41.47.47 an la Roche d'Or wenden.</p>
