<p>Vous avez demandé une réinitialisation de votre mot de passe.<br>Si vous n'êtes pas à l'origine de cette demande, ne tenez pas compte de cet email.</p>
<p><strong>Pour des raisons de sécurité, votre identifiant a peut-être été modifié.<br>Voici votre actuel identifiant :</strong> <i>{{ contact.username }}</i></p>
<p><strong>Merci de le noter,</strong> il vous sera utile pour réaliser vos demandes d’inscriptions ou faire un don en ligne. <strong>Vous pourrez le modifier, si vous le désirez,</strong> dans la fiche qui vous sera présentée pour vérifier votre identité.</p>
<p><strong>Pour réinitialiser votre mot de passe,</strong> veuillez cliquer sur le lien suivant qui sera valide pendant 4h :<br><a href='{{ link }}'/>{{ link }}</a><br></p>
<p>Si le lien ci-dessus ne fonctionne pas, veuillez copier cette adresse dans votre navigateur internet.</p>
<p>En cas de souci, vous pouvez contacter la Roche d’Or au 03.81.41.47.47.</p>
