$roche-yellow: #faf28e;

body.calendar {
  height: 100vh;
  overflow: hidden;
  .content {
    width: calc(100% + 85px);
    flex-direction: column;
    padding: 120px 185px 0 100px;
    box-sizing: border-box;
    overflow-y: scroll;
    .zone {
      display: flex;
      flex: 1;
      flex-direction: row;
      .left {
        width: 300px;
      }
      .right {
        flex: 1;
      }
    }
  }
}

.filters {
  .filter {
    position: relative;
    max-width: 200px;
    margin-bottom: 40px;
    color: $roche-yellow;
    z-index: 0;
    &.active {
      z-index: 1;
      .select {
      ul {
        display: block;
      }
      .value {
        background-image: url('../img/filter-arrow-up.png');
      }
    }
  }
  .title {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }
  .select {
    position: relative;
    cursor: pointer;
    ul {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      max-height: 100px;
      margin-top: -1px; 
      padding: 5px 0;
      border: 1px $roche-yellow solid;
      background: #000000;
      box-sizing: border-box;
      box-shadow: 0px 20px 20px 10px #000000;
      overflow: auto;
      li {
        input {
          display: none;
          &:checked ~ label {
            color: #ffffff;
            &:after {
              background-image: url('../img/filter-cross.png');
            }
          }
        }
        label {
          display: flex;
          align-items: center;
          cursor: pointer;
          &:after {
            content: '';
            width: 11px;
            height: 11px;
            background-image: url('../img/filter-plus.png');
          }
          .abbr {
            width: 25px;
            font-weight: 500;
          }
          .name {
            flex: 1;
            padding-right: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
    li,
    .value {
      padding: 0 10px;
      line-height: 30px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
    .value {
      border: 1px $roche-yellow solid;
      background-image: url('../img/filter-arrow-down.png');
      background-position: calc(100% - 11px) center;
      background-repeat: no-repeat;
      div {
        display: none;
        &.active {
          display: block;
        }
        &.plural,
        &.singular {
          color: #ffffff;
        }
      }
    }
  }
  }
  .submit {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 40px;
    height: 32px;
    font-size: 10px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background: $roche-yellow;
    border: 1px $roche-yellow solid;
    outline: none;
    cursor: pointer;
  }
  .dates {
    .date-in,
    .date-out {
      padding: 0 10px;
      line-height: 30px;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      border: 1px $roche-yellow solid;
      cursor: pointer;
      &.active {
        color: #ffffff;
      }
    }
    .date-out {
      margin-top: 10px;
    }
    .calendar-in,
    .calendar-out {
      display: none;
      position: absolute;
      width: 100%;
      max-width: 200px;
      margin-top: -1px;
      padding: 10px 10px 0 10px;
      font-size: 12px;
      border: 1px $roche-yellow solid;
      background: #000000;
      box-sizing: border-box;
      box-shadow: 0px 20px 20px 10px #000000;
      &.active {
        display: block;
      }
      .clndr-next-button,
      .clndr-previous-button {
        font-size: 0;
        cursor: pointer;
      }
      .clndr-next-button:before,
      .clndr-previous-button:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 10px;
        width: 8px;
        height: 7px;
        background-image: url('../img/clndr-arrow-prev.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      .clndr-next-button:before {
        background-image: url('../img/clndr-arrow-next.png');
        left: auto; 
        right: 10px;
      }
      .clndr-controls {
        display: flex;
        .month {
          flex: 1;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1.4px;
        }
      }
      .clndr-table {
        display: flex;
        flex-direction: column;
        .header-days {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          padding: 10px 0;
          color: #ffffff;
          text-transform: uppercase;
          border-bottom: 1px #ffffff solid;
        }
        tbody {
          tr {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
          }
        }
        .day {
          cursor: pointer;
        }
        .day-contents {
          width: 15px;
        }
        .adjacent-month {
          opacity: 0.2;
        }
        .past {
          color: grey;
          opacity: 0.2;
          cursor: default;
        }
      }
    }
  }
  .keywords {
    input {
      width: 100%;
      padding: 0 10px;
      line-height: 30px;
      font-size: 10px;
      text-transform: uppercase;
      color: $roche-yellow;
      letter-spacing: 1.4px;
      background: transparent;
      border: 1px $roche-yellow solid;
      box-sizing: border-box;
      outline: none;
      &.active {
        color: #ffffff;
      }
    }
  }
}

.retreats-table {
  width: 100%;
  color: $roche-yellow;
  thead {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    th {
      position: relative;
      padding: 10px 20px;
      text-align: left;
      border-bottom: 1px #575432 solid;
      &.sites {
        padding-right: 20px;
      }
      &.dates {
        padding-left: 0;
      }
      &.selections {
        padding-right: 0;
      }
    }
  }
  tbody {
    tr {
      &.month {
        td {
          padding: 20px 0 10px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1.4px;
          text-transform: uppercase;
        }
      }
      &.retreat {
        td {
          padding: 10px 20px;
          font-size: 14px;
          color: #ffffff;
          border-bottom: 1px #262626 solid;
          &.dates {
            padding-left: 30px;
            white-space: nowrap;
          }
          &.site {
            height: 28px;
            padding-right: 20px;
          }
          &.speaker {
            white-space: nowrap;
          }
          &.type {
            i {
              display: inline-block;
              width: 6px;
              height: 6px;
              margin-right: 5px;
              border: 2px solid;
              border-radius: 100%;
            }
          }
          &.duration {
            color: $roche-yellow;
          }
          &.translation {
            font-size: 11px;
            font-weight: 500;
            color: $roche-yellow;
            text-transform: uppercase;
          }
          &.selections {
            padding-right: 0;
          }
        }
      }
    }
  }
  .center {
    text-align: center;
  }
  .dates {
    position: relative;
    .bullet {
      position: absolute;
      top: 15px;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: $roche-yellow;
    }
    .fadeline {
      position: absolute;
      top: 15px;
      left: 3px;
      width: 1px;
      height: 50px;
      background: $roche-yellow;
    }
  }
  .retreat {
    &.last {
      td {
        border: none;
      }
      .fadeline {
        height: 30px;
        background: linear-gradient(to bottom, $roche-yellow 0%, #000000 100%);
      }
    }
  }
}