@import '~include-media/dist/_include-media.scss';
@import './variables';

h1 {
  margin-bottom: 0;
}

.content {
  .flex {
    display: flex;
    flex-direction: row;
    @include media('<xxlarge') {
      flex-direction: column;
    }
  }
  @include media('<xxlarge') {
    > .zone {
      padding: 0 20px;
    }
  }
}

.show-filters {
  display: block;
  padding: 10px 20px;
  margin: 40px 0 20px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: $roche-yellow;
  border: 1px $roche-yellow solid;
  background: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  @include media('>=xxlarge') {
    display: none;
  }
  @include media('>=medium') {
    max-width: 250px;
  }
}

.filters {
  position: relative;
  width: 260px;
  margin-top: 40px;
  padding-right: 80px;
  color: $roche-yellow;
  z-index: 1;
  @include media('<xxlarge', '>=medium') {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -260px;
    margin-top: 0;
    padding: 40px 20px 20px;
    background: #000000;
    transition: 0.2s;
    box-sizing: border-box;
    z-index: 3;
    &.active {
      left: 0;
      height: 100vh;
      box-shadow: 0 0 100px 0 #000000;
      overflow-y: auto;
    }
  }
  @include media('<xxlarge', '>=large') {
    &.active {
      height: calc(100vh - 30px);
    }    
  }
  @include media('<medium') {
    width: auto;
    max-height: 0;
    margin: 0 0 50px;
    padding-right: 0;
    overflow: hidden;
    transition: 0.2s;
    &.active {
      max-height: 600px;
      padding: 20px 0;
      border-top: 1px rgba(255, 243, 141, 0.2) solid;
      border-bottom: 1px rgba(255, 243, 141, 0.2) solid;
    }
  }
  .title {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }
  .filter {
    position: relative;
    margin-bottom: 40px;
    z-index: 0;
    @include media('<large') {
      margin-bottom: 20px;
    }
    &.active {
      z-index: 2;
      .title {
        z-index: 1;
      }
      .select {
        z-index: 1;
        ul {
          display: block;
        }
        .value {
          background-image: url('../img/filter-arrow-up.png');
        }
      }
    }
    .select {
      position: relative;
      cursor: pointer;
      ul {
        display: none;
        position: absolute;
        top: 100%;
        min-width: 220px;
        max-height: 165px;
        margin-top: -1px; 
        padding: 5px 0;
        border: 1px $roche-yellow solid;
        background: #000000;
        box-sizing: border-box;
        box-shadow: 20px 20px 100px 10px #000000;
        overflow: auto;
        z-index: 99999;
        width: 100%;
        li {
          input {
            display: none;
            &:checked ~ label {
              color: #ffffff;
              &:after {
                background-image: url('../img/button-radio-checked.png');
              }
            }
          }
          label {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:after {
              content: '';
              width: 13px;
              height: 13px;
              background-image: url('../img/button-radio-unchecked.png');
              background-size: 100% 100%;
            }
            .abbr {
              width: 25px;
              font-weight: 500;
            }
            .name {
              flex: 1;
              padding-right: 10px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: pre-wrap;
              line-height: 16px;
              font-size: 13px;
              letter-spacing: 0px;
            }
          }
        }
      }
      li,
      .value {
        padding: 10px;
        font-size: 10px;
        letter-spacing: 1.4px;
      }
      .value {
        text-transform: uppercase;
        border: 1px $roche-yellow solid;
        background-image: url('../img/filter-arrow-down.png');
        background-position: calc(100% - 11px) center;
        background-repeat: no-repeat;
        div {
          display: none;
          &.active {
            display: block;
          }
          &.plural,
          &.singular {
            color: #ffffff;
          }
        }
      }
    }
  }
  .filter-dates {
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
    @include media('<large') {
      margin-bottom: 20px;
    }
    .date-in,
    .date-out {
      padding: 10px;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      border: 1px $roche-yellow solid;
      cursor: pointer;
      &.active {
        color: #ffffff;
      }
    }
    .date-out {
      margin-top: 10px;
    }
    .calendar-in,
    .calendar-out {
      display: none;
      position: absolute;
      width: 100%;
      max-width: 200px;
      margin-top: -32px;
      padding: 10px 10px 0 10px;
      font-size: 12px;
      border: 1px $roche-yellow solid;
      background: #000000;
      box-sizing: border-box;
      box-shadow: 0px 20px 20px 10px #000000;
      .clndr-close{
        display: block;
        padding: 10px;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 1.4px;
        border: 1px #faf28e solid;
        cursor: pointer;
      }
      &.active {
        display: block;
        min-width: 100%;
      }
      .clndr-next-button,
      .clndr-previous-button {
        font-size: 0;
        cursor: pointer;
      }
      .clndr-next-button:before,
      .clndr-previous-button:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 10px;
        width: 8px;
        height: 7px;
        background-image: url('../img/clndr-arrow-prev.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      .clndr-next-button:before {
        background-image: url('../img/clndr-arrow-next.png');
        left: auto; 
        right: 10px;
      }
      .clndr-controls {
        display: flex;
        .month {
          flex: 1;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1.4px;
        }
      }
      .clndr-table {
        display: flex;
        flex-direction: column;
        .header-days {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          padding: 10px 0;
          color: #ffffff;
          text-transform: uppercase;
          border-bottom: 1px #ffffff solid;
        }
        tbody {
          tr {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
          }
        }
        .day {
          cursor: pointer;
        }
        .day-contents {
          width: 15px;
          transition: 0.5s ease;
          &:hover, &:active, &:focus{
            color: #fff;
            transition: 0.5s ease;
          }
        }
        .adjacent-month {
          opacity: 0.2;
        }
        .past {
          color: grey;
          opacity: 0.2;
          cursor: default;
        }
      }
    }
  }
  .filter-raz,
  .hide-filters {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 10px;
    color: #faf28e;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border: 1px #faf28e solid;
    cursor: pointer;
  }
  .filter-raz {
    color: #000000;
    background-color: $roche-yellow;
  }
  .hide-filters {
    @include media('>=xxlarge') {
      display: none;
    }
  }
  .filter-keywords {
    position: relative;
    margin-bottom: 40px;
    z-index: 0;
    @include media('<large') {
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      padding: 10px;
      font-size: 10px;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 1.4px;
      background: transparent;
      border: 1px $roche-yellow solid;
      box-sizing: border-box;
      outline: none;
      &::placeholder {
        color: $roche-yellow;
        opacity: 1;
      }
    }
  }
}

.retreats-list {
  @include media('>=large') {
    display: none;
  }
  margin-bottom: 40px;
  color: #ffffff;
  .month {
    padding: 20px 0 10px 3px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    &:first-child {
      padding-top: 0;
    }
  }
  .retreat {
    position: relative;
    padding: 15px 45px 25px 25px;
    font-size: 14px;
    line-height: 18px;
    max-height: 45px;
    overflow: hidden;
    transition: 0.5s ease;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 1px;
      width: 30px;
      height: 30px;
      background-image: url('../img/retreat-plus.png');
      background-size: 100%;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px #262626 solid;
      z-index: 0;
    }
    &.active {
      max-height: 200px;
      &:before {
        background-image: url('../img/retreat-minus.png');
      }
      .event {
        overflow: auto;
        text-overflow: inherit;
        white-space: inherit;
      }
    }
    &.first {
      .dates {
        .fadeline {
          top: 20px;
        }
      }
    }
    &.last {
      .dates {
        .fadeline {
          height: 50px;
          background: linear-gradient(to bottom, $roche-yellow 20px, transparent 100%);
        }
      }
    }
    .dates {
      .bullet {
        position: absolute;
        top: 20px;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: $roche-yellow;
        z-index: 2;
      }
      .fadeline {
        position: absolute;
        top: 0;
        left: 3px;
        width: 1px;
        height: 100%;
        background: $roche-yellow;
        z-index: 1;
      }
    }
    .site,
    .type,
    .translation {
      position: absolute;
      top: 15px;
      @include media('<=mobile') {
        display: inline-block;
        position: relative;
        top: 0px;
        right: 0px;
      }
    }
    }
    .site {
      right: 50px;
    }
    .site .full{
      @include media('<=mobile') {
        display: inline-block!important;
        position: relative;
        right: 0px;
        top: 0px;
      }
    }
    .type {
      right: 100px;
    }
    .type .full{
      @include media('<=mobile') {
        display: inline-block!important;
        position: relative;
        right: 0px;
        top: 0px;
      }
    }
    .translation {
      right: 150px;
    }
    .event {
      padding: 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .speaker {
      font-size: 12px;
      font-style: italic;
      margin-bottom: 10px;
    }
    .button {
      display: inline-block;
      margin: 10px 0;
      padding: 10px 20px;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1.4px;
      color: $roche-yellow;
      border: 1px $roche-yellow solid;
      box-sizing: border-box;
      outline: none;
    }
}

.retreats-list .retreat .site .full, .retreats-list .retreat .type .full{
  @include media('<=mobile') {
    display: inline-block!important;
    position: relative;
    right: 0px;
    top: 0px;
  }
}

.retreats-table {
  @include media('<large') {
    display: none;
  }
  position: relative;
  flex: 1;
  margin-bottom: 40px;
  color: $roche-yellow;
  z-index: 0;
  thead {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border-bottom: 1px solid #faf28e21;
    th {
     // position: sticky;
      top: 0;
      padding: 40px 15px 10px;
      text-align: left;
      z-index: 1;
      /*background-image: linear-gradient(black, black), url('../img/calendar.jpg');
      background-blend-mode: saturation;
      background-size: 100% auto;
      background-attachment: fixed;
      background-position: top;
      @include media('<=laptop') {
        background-image:linear-gradient(black, black),  url('../img/calendar-s.jpg');
      }
      @include media('<=xxlarge') {
        background-image:linear-gradient(black, black),  url('../img/calendar-xs.jpg');
      }*/
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px #575432 solid;
      }
      &.dates {
        padding-left: 3px;
        &:after {
          left: 3px;
        }
      }
      &.sites {
        padding: 0;
      }
      &.translations {
        padding-right: 0;
      }
    }
  }
  tbody {
    tr {
      &.month {
        td {
          padding: 20px 0 10px 3px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1.4px;
          text-transform: uppercase;
        }
      }
      &.retreat {
        cursor: pointer;
        td {
          position: relative;
          padding: 15px;
          font-size: 14px;
          line-height: 18px;
          color: #ffffff;
          z-index: 0;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 1px #262626 solid;
            z-index: 0;
          }
          a {
            color: inherit;
            text-decoration: none;
          }
          &.dates {
            padding-left: 30px;
            white-space: nowrap;
            &:after {
              left: 3px;
            }
          }
          &.sites {
            padding: 0;
          }
          &.speaker {
            white-space: nowrap;
          }
          &.type {
            white-space: nowrap;
          }
          &.duration {
            white-space: nowrap;
            color: $roche-yellow;
          }
          &.translation {
            padding-right: 0;
            font-size: 11px;
            font-weight: 500;
            color: $roche-yellow;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .center {
    text-align: center;
  }
  .dates {
    .bullet {
      position: absolute;
      top: 20px;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: $roche-yellow;
      z-index: 2;
    }
    .fadeline {
      position: absolute;
      top: 25px;
      left: 3px;
      width: 1px;
      height: 100%;
      background: $roche-yellow;
      z-index: 1;
    }
  }
  .retreat {
    &.last {
      td:after {
        content: none;
      }
      .fadeline {
        height: 30px;
        background: linear-gradient(to bottom, $roche-yellow 0%, transparent 100%);
      }
    }
  }
}

.CALENDRIER{
  background-image: url('../img/black-60.png'), linear-gradient(black, black), url('../img/calendar.jpg');
  background-size: cover;
  background-blend-mode: saturation;
  @include media('<=laptop') {
    background-image: url('../img/black-60.png'), linear-gradient(black, black),  url('../img/calendar-s.jpg');
    background-size: cover;
    background-blend-mode: saturation;
  }
  @include media('<=large') {
    background-image: url('../img/black-60.png'), linear-gradient(black, black),  url('../img/calendar-xs.jpg');
  }
  @include media('<=medium') {
    background-image: url('../img/black-60.png'), linear-gradient(black, black),  url('../img/calendar-xxs.jpg');
  }
  @include media('<=mobile') {
    background-image: linear-gradient(black, black),  url('../img/calendar-mobile.jpg');
  }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.retreat, .select li, .select{
  &:hover, &:active, &:focus{
    background-color: #faf28e33;
    transition: 0.5s ease;
  }
}

.validation{
  transition: 0.5s ease;
  &:hover, &:active, &:focus{
    background-color: $roche-yellow;
    color: white;
  }
}