@import '~include-media/dist/_include-media.scss';
@import 'magnific-popup-css';
@import './variables';

.carousel {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  &.active {
    z-index: 1;
    &.fade {
      z-index: 2;
      animation-duration: 0.8s;
      animation-name: upElement;
    }
  }
  .prev,
  .next {
    position: absolute;
    //top: 50%;
    top: 91%;
    margin-top: -34px;
    width: 105px;
    height: 105px;
    z-index: 1;
    cursor: pointer;
    @include media('<large') {
      width: 45px;
      height: 45px;
      margin-top: -22px;
      background-size: 100%;
    }
  }
  .prev:hover, .prev:focus, .prev:active{
    background: url('../img/icons/arrow-left-grey.svg');
    transition: 0.5s ease;
  }
  .prev {
    left: 0;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background:url('../img/icons/arrow-left-gold.svg');
    transition: 0.5s ease;
  }
  .next {
    right: 0;
    @include media('<=mobile') {
      //sright: 18px;
    }
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background: url('../img/icons/arrow-right-gold.svg');
    transition: 0.5s ease;
  }
  .next:hover, .next:focus, .next:active {
    background: url('../img/icons/arrow-right-grey.svg');
    transition: 0.5s ease;
  }
  .slides {
    position: relative;
    display: flex;
    flex: 1;
    z-index: 0;
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 0;
      &.active {
        z-index: 1;
        &.fade {
          z-index: 2;
          animation-duration: 0.8s;
          animation-name: upElement;
        }
      }
      .top .left:not(.no-border), .top .right:not(.no-border), .top:not(.no-border) .full {
        border-bottom: 1px solid white;
      }
      .top .left, .bottom .left {
        border-right: 1px solid white;
      }
      .top,
      .bottom {
        display: flex;
        flex: 1;
        .left,
        .right {
          display: flex;
          flex: 1;
        }
        .full {
          flex: 1;
          position: relative;
          background-size: cover;
          background-position: center;
          outline: none;
          // border: none;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $roche-yellow;
            opacity: 0;
            transition: 0.5s;
            z-index: 0;
          }
          &:hover{
            &:after{
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              //width: 45px;
              //height: 45px;
              width: 68px;
              height: 68px;
              background: url('../img/icons/plus-white.svg');
              background-size: 100%;
              z-index: 1;
              transition: 0.5s ease;
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            //width: 45px;
            //height: 45px;
            width: 68px;
            height: 68px;
            //background-image: url('../img/plus.png');
            background: url('../img/icons/plus-gold.svg');
            background-size: 100%;
            z-index: 1;
          }
          &.iframe {
            &:after {
              background-image: url('../img/play.png');
            }
          }
          &:hover {
            &:before {
              opacity: 0.5;
            }
          }
        }
      }
      .bottom {
        .full {
          &:after {
            top: auto;
            bottom: 0;
            display: none;
          }
        }
      }
    }
  }
}

@keyframes upElement {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include media('>=large') {
  .content > .left {
    .carousel {
      display: none;
    }
  }
}

.editions .carousel{
  .prev,
  .next {
    top: 85.5%;
  }
  .prev:hover, .prev:focus, .prev:active{
    background: url('../img/icons/arrow-left-white.svg');
    transition: 0.5s ease;
  }
  .next:hover, .next:focus, .next:active {
    background: url('../img/icons/arrow-right-white.svg');
    transition: 0.5s ease;
  }
}