$roche-yellow: #faf28e;
$roche-orange: #ef7d1d;

h1 {
  color: #000000;
}

h2 {
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.header {
  .left,
  .right {
    border-color: #000000;
    li {
      color: #000000;
      &:after {
        background: linear-gradient(to right, #000000 0%, $roche-orange 50%, #000000 100%);
      }
      &:hover,
      &.active {
        color: $roche-orange;
        &:before {
          border-color: $roche-orange;
        }
      }
    }
  }
  .languages {
    ul li a {
      color: #000000;
    }
    .current li {
      border-color: #000000;
    }
    .available li {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
  .zoom li {
    color: #000000;
    border-color: #000000;
  }
  .logo {
    .normal {
      display: none;
    }
    .editions {
      display: block;
      img {
        bottom: -60px;
        margin-left: -70px;
      }
    }
  }
}

.content {
  .zone {
    width: 100%;
    padding: 100px 80px;
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  .hover {
    background-image: url('../img/background-editions.png');
  }
}

.button {
  float: right;
  padding: 0 20px;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.4px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px #000000 solid;
  &.right-arrow {
    padding-right: 40px;
    background-image: url('../img/button-arrow-right-black.png');
    background-position: calc(100% - 20px);
    background-repeat: no-repeat;
  }
}

.featured {
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  .left {
    position: relative;
    width: 500px;
    padding: 80px;
    background-color: #ffffff;
    box-sizing: border-box;
    h2 {
      font-size: 28px;
      font-weight: 300;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    p {
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      font-style: italic;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
    .button {
      position: absolute;
      right: 50px;
      bottom: 50px;
    }
  }
  .right {
    position: relative;
    flex: 1;
  }
}

.carousel {
  display: flex;
  z-index: 0;
  &.active {
    z-index: 1;
    &.fade {
      z-index: 2;
      animation-duration: 0.8s;
      animation-name: upElement;
    }
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    margin-top: -34px;
    width: 68px;
    height: 68px;
    background-image: url('../img/arrow-left-orange.png');
    z-index: 1;
    cursor: pointer;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
    background-image: url('../img/arrow-right-orange.png');
  }
  .slides {
    position: relative;
    display: flex;
    flex: 1;
    z-index: 0;
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 0;
      &.active {
        z-index: 1;
        &.fade {
          z-index: 2;
          animation-duration: 0.8s;
          animation-name: upElement;
        }
      }
      .image {
        flex: 1;
        position: relative;
        background-size: cover;
        background-position: center;
        outline: none;
      }
    }
  }
}

.products {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .product {
    position: relative;
    width: 24%;
    height: 360px;
    overflow: hidden;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 43px;
      height: 44px;
      transition: 0.5s;
    }
    &:after {
      background-image: url('../img/plus-orange.png');
      z-index: 2;
    }
    &:before {                
      background-image: url('../img/plus-white.png');
      z-index: 3;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
      .description {
        top: 0;
        padding: 40px 40px 20px 20px;
        &:after {
          opacity: 1;
        }
        .more {
          opacity: 1;
        }
        .cart {
          bottom: 20px;
        }
        .price {
          right: 60px;
        }
      }
    }
    .illustration {
      position: relative;
      height: 250px;
      background-size: cover;
      background-position:  center;
      z-index: 0;
    }
    .description {
      position: absolute;
      top: 250px;
      bottom: 0;
      padding: 20px 110px 20px 20px;
      font-size: 12px;
      font-weight: 300;
      background: #ffffff;
      transition: 0.5s;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 60px;
        left: 20px;
        right: 20px;
        border-bottom: 1px #cccccc solid;
        opacity: 0;
        transition: 0.5s;
      }
      h3 {
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .cart {
        position: absolute;
        bottom: 65px;
        right: 20px;
        transition: 0.5s;
      }
      .price {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 23px;
        font-weight: 300;
        color: $roche-orange;
        transition: 0.5s;
        small {
          font-size: 16px;
          margin-left: 5px;
        }
      }
      .more {
        opacity: 0;
        transition: 0.5s;
      }
    }
  }
}