@import './variables';
@import './page';


.page.gift {
  .content .dropdown {
    max-width: 625px;

    .item {
      .panel {
        padding-top: 12px;

        &:before {
          background: transparent;
        }
      }

      .button {
        font-size: 12px;

        @include media('<=mobile') {
          font-size: 10px
        }
    

      }

      // overrides radio button display
      .button.radio {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        &:after {
          display: none;
        }
      }
    }
    .panel.allocation textarea {
      margin-bottom: 15px;
    }
  }
}

.item.payment.active {
  overflow: visible;
}

.panel.payment {
  .form.payment {
    width: 700px;

    @include media('<medium') {
      width: auto;
    }

    label {
      display: block;
      font-size: 0.8rem;
      text-align: center;

      @include media('<medium') {
        margin-bottom: 30px;
      }
    }
  }
  .reduction {
    span {
      display: inline-block;
      margin-bottom: 10px;
      line-height: 24px;
      border-bottom: 1px #fff solid;
    }
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
#input_payment_cb,
#input_payment_paypal,
#input_payment_virement,
#input_payment_cheque,
#input_payment_virement_reg {
  background-image: url('../img/icons/icons-yellow.png');
  background-repeat: no-repeat;
  background-size: 500% 100%;
  height: 74px;
  width: 132px;
  border: 0;
  margin-bottom: 0;
}
#input_payment_cb.checked,
#input_payment_paypal.checked,
#input_payment_virement.checked,
#input_payment_cheque.checked,
#input_payment_virement_reg.checked {
  background-image: url('../img/icons/icons-white.png');
}

#input_payment_cb {
  background-position: 0 0;
}
#input_payment_paypal {
  background-position: 25% 0;
}
#input_payment_virement {
  background-position: 50% 0;
}
#input_payment_cheque {
  background-position: 75% 0;
}
#input_payment_virement_reg {
  background-position: 100% 0;
}



.content {
  .dropdown {
    .item {
      h2 {
        cursor: default;
      }
      .gift-note,
      .select-modpaie,
      .select-allocation {
        margin-bottom: 0;
      }
      .secure-link {
        background: url('lock.png') no-repeat 15px 5px;
        background-size: 20px;
      }
    }
  }
}
.tax-link, .tax-link:visited {
  color: #fff;
}
.modify-you {
  display: table;
  font-size: 14px;
  margin-bottom: 20px;
}
.you-render {
  .you {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p {
      flex: 1;
      margin: 0;
    }
  }
}
.table {
  width: 100%;
  margin-bottom: 40px;
  font-family: 'lato', lato, sans-serif;
  color: $roche-yellow;
  thead {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    th {
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      border-bottom: 1px #ffffff solid;
      &.first {
        padding-left: 0;
        text-align: left;
      }
      &.last {
        padding-right: 0;
        text-align: right;
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        td {
          border: none;
        }
      }
      &.ttc {
        td {
          padding-top: 40px;
          font-size: 16px;
          text-transform: uppercase;
          color: $roche-yellow;
        }
      }
      td {
        padding: 15px 15px 2px 15px;
        font-size: 14px;
        line-height: 14px;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        a {
          color: inherit;
          text-decoration: none;
        }
        &.first {
          padding-left: 0;
          text-align: left;
        }
        &.last {
          padding-right: 0;
          text-align: right;
        }
      }
    }
  }
}
.reduction {
  margin-bottom: 40px;
  font-style: italic;
  a, a:visited {
    color: #faf28e;
    text-decoration: none;
    border-bottom: 1px solid #faf28e;
  }
}

.button {
  text-decoration: none;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -o-letter-spacing: 0px;
  line-height: 100%;
  color: $roche-yellow;
  border: 1px $roche-yellow solid;
  background: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  @include media('<large') {
    margin-bottom: 10px;
  }
  &.disabled {
    border: 1px solid #ffffff;
    color: #ffffff;
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.black {
    color: #000000;
    border-color: #000000;
  }
  &.submit {
    color: #ffffff;
    border-color: #ffffff;
  }
}

.allocation textarea::placeholder, .registration textarea::placeholder,
.allocation textarea, .registration textarea {
  font-size: 13.33px;
  font-family: lato, 'lato', sans-serif;
}

.registration select option, .payment span, .form.prelevement label {
  font-family: lato, 'lato', sans-serif;
}

.virement-reg{
  margin-bottom: 8px;
  display: inline-block;
}

.prelevement{
  div{
    font-family: lato, 'lato', sans-serif;
    font-weight: 300;
    line-height: 23px;
    font-size: 17px;
  }
}


.left{
    @include media('<=mobile') {
      padding-right: 40px!important;
    }
  }
