body {
  &.menuReduced {
    display: block;
    //height: auto;
    //height: 100%;
    min-height: 1000px;
    overflow-y: auto;
    background-attachment: fixed!important;
    .footer {
      position: fixed;
      top: calc(100% - 35px);
      width: 100%;
    }
  }
  &.menuOpened {
    position: fixed;
    width: 100%;
    .burger {
      background-image: url('../img/burger-open.png');
    }
    .header {
      .left,
      .right,
      .options {
        display: block;
      }
    }
    @include media('<limitMenuReduced') {
      .header {
        height: 100vh;
        overflow-y: auto;
        max-height: none;
      }
      .footer,
      .content,
      .sections {
        opacity: 0;
      }
    }
  }
}
.home{
  .header{
    @include media('<=mobile') {
      /*background-color: #000000c9;
      height: 80px;
      box-shadow: 0 30px 60px black;*/
    }
  }
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  @include media('<limitMenuReduced') {
    max-height: 100px;
  }
  .burger {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 45px;
    height: 38px;
    background-image: url('../img/burger-close.png');
    background-size: 25px 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .logo {
    position: relative;
    top: 7px;
    @include media('<=mobile') {
      padding: 15px 0px!important;
    }
    &:after {
      content: 'Communauté\A de la Roche d\'Or';
      position: absolute;
      left: 50%;
      bottom: -20px;
      width: 180px;
      //margin-left: -90px;
      margin-left: -86px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 2px;
      color: #faf28e;
      text-align: center;
      text-transform: uppercase;
      white-space: pre-line;
      transition: 0.2s;
      opacity: 1;
      @include media('<=mobile') {
        bottom: -36px;
        line-height: 22px;
        display: none;
      }
      @include media('>=limitMenuReduced') {
        content: none;
      }
      @include media('<=limitMenuReduced') {
        display: none;
      }
      @media screen and (max-height: 500px) {
        content: none;
      }
    }
    #mainLogo {
      width: 90px;
      transform: scale(1);
      transition: 2s ease;
      z-index: 2;
      @include media('<=mobile') {
        width: 82px;
        margin-left: 12px;
      }
    }
    .editions {
      display: none;
    }
  }
  .cart-container {
    .cart {
      display: block;
      position: relative;
      font-size: 12px;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      z-index: 1;
      @include media('>=large') {
        img {
          display: none;
        }
      }
      .cartSpan {
        display: block;
        padding: 9px 20px;
        border: 1px #000000 solid;
        transition: 0.5s ease;
        font-family: azo-sans-web,sans-serif;
        @include media('<large') {
          display: none;
        }
        &:hover, &:active, &:focus{
          background: $roche-orange;
          transition: 0.5s ease;
          border: 1px solid $roche-orange;
          color: #ffffff;
        }
      }
      small {
        .counter{
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 18px;
          height: 18px;
          top: -7px;
          right: -7px;
          color: #ffffff;
          border-radius: 18px;
          font-size: 10px;
          background-color: $roche-orange;
          font-family: arial, sans-serif;
          padding-top: 2px;
          box-sizing: border-box;
        }
      }
    }
  }
  .languages {
    ul {
      float: left;
      li {
        float: left;
        margin-right: -1px;
        border: 1px $roche-yellow solid;
        transition: 0.5s ease;
        &:hover, &:active, &:focus{
          background-color: $roche-yellow;
          transition: 0.5s ease;
        }
        a {
          display: block;
          width: 30px;
          padding: 9px 0;
          font-size: 12px;
          color: $roche-yellow;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          transition: 0.5s ease;
          &:hover, &:active, &:focus{
            color: #000;
            transition: 0.5s ease;
          }
        }
      }
    }
    .current {
      li {
        a {
          color: #000000;
          background-color: $roche-yellow;
        }
      }
    }
  }
  .zoom {
    li {
      float: left;
      width: 30px;
      padding: 9px 0;
      margin-left: -1px;
      font-size: 12px;
      color: $roche-yellow;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px $roche-yellow solid;
      transition: 0.5s ease;
      cursor: pointer;
      &:hover, &:active, &:focus{
        color: #000;
        transition: 0.5s ease;
        background-color: $roche-yellow;
      }
    }
  }
  .left,
  .right {
    li {
      font-size: 12px;
      font-weight: 400;
      color: $roche-yellow;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      > a, span {
        position: relative;
        display: block;
      }
      a {
        color: inherit;
        text-decoration: none;
        br {
          display: none;
        }
      }

      span.disabled {
        opacity: 0.3;
        cursor: default;
      }
    }
  }
  .sub-menu {
    position: absolute;
    visibility: hidden;
    max-height: 0;
    padding-top: 0;
    opacity: 0;
    transition:
            visibility 0s 0.2s,
            max-height 0.2s,
            padding-top 0.2s,
            opacity 0.2s linear;
    &.active {
      visibility: visible;
      opacity: 1;
      max-height: 286px;;
      transition: opacity 0.2s linear;
    }

    li a.disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
  .logo {
    order: 1;
  }
  .left {
    order: 2;
  }
  .right {
    order: 3;
  }
  .cart-container {
    order: 4;
  }
  .options {
    order: 5;
  }
}
@include media('>=limitMenuReduced') {
  .header {
    flex-direction: row;
    align-items: flex-end;
    .burger {
      display: none;
    }
    .logo {
      position: relative;
      width: 170px;
      .editions {
        display: none;
      }
      img {
        position: absolute;
        left: 50%;
        bottom: -20px;
        //margin-left: -45px;
        margin-left: -36px;
      }
    }
    .cart-container {
      top: 20px;
      right: 175px;
      z-index: 1;
    }
    .menu-reduced {
      display: none;
    }
    .options {
      position: absolute;
      top: 20px;
      right: 40px;
      z-index: 1;
      .cart,
      .zoom,
      .languages {
        float: left;
        margin-left: 22px;
      }
    }
    .left,
    .right {
      position: relative;
      flex: 1;
      padding-top: 80px;
      border-bottom: 1px $roche-yellow solid;
      z-index: 0;
      li {
        position: static;
        transition: color 0.2s;
        &:hover,
        &.active {
          > a, span {
            color: #ffffff;
            &:after {
              width: 200px;
            }
            &:before {
              height: 100%;
              border-color: #ffffff;
            }
          }
        }
        > a, span {
          &:after,
          &:before {
            content: '';
            position: absolute;
            transition: 0.2s;
          }
          &:after {
            width: 0;
            height: 1px;
            background: linear-gradient(to right, $roche-yellow 0%, #ffffff 50%, $roche-yellow 100%);
          }
          &:before {
            border-left: 1px $roche-yellow solid;
          }
        }
      }
    }
    .left {
      order: 1;
      padding-left: 40px;
      .sub-menu {
        padding-left: 40px;
        li {
          &:last-child {
            a {
              margin-right: 0;
            }
          }
          a {
            margin-right: 20px;
          }
        }
      }
      li {
        > a, span {
          text-align: left;
          padding-left: 10px;
          &:after,
          &:before {
            left: 0;
          }
        }
        &:hover,
        &.active {
          > a, span {
            &:after {
              left: -100px;
            }
          }
        }
      }
    }
    .right {
      order: 3;
      padding-right: 40px;
      .sub-menu {
        padding-right: 40px;
        li {
          &:first-child {
            a {
              margin-left: 0;
            }
          }
          a {
            margin-left: 20px;
          }
        }
      }
      li {
        > a, span {
          text-align: right;
          padding-right: 10px;
          &:after,
          &:before {
            right: 0;
          }
        }
        &:hover,
        &.active {
          > a, span {
            &:after {
              right: -100px;
            }
          }
        }
      }
    }
    .menu,
    .sub-menu {
      display: flex;
      justify-content: space-between;
    }
    .menu {
      li {
        > span {
          cursor: default;
        }
        > a, span {
          padding-bottom: 20px;
          &:after,
          &:before {
            bottom: -1px;
          }
          &:before {
            height: 0;
          }
        }
      }
    }
    .sub-menu {
      top: 100%;
      left: 0;
      right: 0;
      li {
        > a, span {
          position: relative;
          padding-top: 25px;
          padding-bottom: 0;
          margin-bottom: 30px;
          &:after,
          &:before {
            top: 0;
          }
          &:before {
            height: 0px;
          }
        }
      }
    }
    .languages {
      &:hover {
        .available {
          max-width: 130px;
          visibility: visible;
          opacity: 1;
          transition: opacity 0.2s linear, max-width 0.2s linear;
        }
      }
      .current {
        li {
          a {
            color: $roche-yellow;
            background: none;
          }
        }
      }
      .available {
        max-width: 0;
        height: 32px;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition: visibility 0s 0.2s, opacity 0.2s linear, max-width 0.2s linear;
        li {
          border: 1px rgba(255, 243, 141, 0.2) solid;
        }
      }
    }
    .zoom {
      display: block;
    }
    .logo { order: 2; }
    .left { order: 1; }
  }
}
@include media('<limitMenuReduced') {
  .header {
    .cart-container {
      position: absolute;
      top: 3px;
      right: 50px;
      z-index: 1;
    }
    .full-screen {
      display: none;
    }
    .options {
      display: none;
      width: 100%;
      padding: 20px 0 40px;
      margin-top: 58px;
      .cart {
        width: 100px;
        margin: 0 auto 40px;
      }
      .zoom {
        display: none;
      }
      .languages {
        display: flex;
        justify-content: center;
      }
    }
    .logo {
      margin: 8px 0 60px;
      padding: 30px 0;
    }
    .menu {
      max-width: 400px;
      padding: 0 40px;
      margin: 0 auto;
      li {
        > span {
          cursor: pointer;
        }
        > a, span {
          padding: 15px;
          font-size: 16px;
          line-height: 20px;
          border-top: 1px rgba(255, 243, 141, 0.2) solid;
        }
      }
    }
    .sub-menu {
      position: relative;
      border-top: 1px rgba(255, 243, 141, 0.2) solid;
      transition: 1s ease;
      &.active {
        padding-top: 15px;
        transition: 1s ease;
      }
      li {
        > a, span {
          padding: 0 0 15px;
          border-top: none;
          font-size: 12px;
        }
      }
    }
    .left,
    .right {
      display: none;
      width: 100%;
      li {
        transition: all 0.2s linear;
        &:hover {
          color: #ffffff;
        }
        &.active {
          color: #ffffff;
        }
      }
    }
    .left {
      .menu {
        li:first-child {
          border: none;
        }
      }
    }
  }
}

.editions{
  #mainLogo{
      @include media('>limitMenuReduced') {
          margin-left: -42px;
      }
      @include media('<=limitMenuReduced') {
        margin-left: 8px!important;
    }
    }
  .cartSpan, .current, .available, .minus, .plus {
    &:hover, &:active, &:focus{
      background: $roche-orange;
      transition: 0.5s ease;
      border: 1px solid $roche-orange;
      color: #ffffff;
      a{
        color: #ffffff;
      }
    }
  }
}


#logoTaglineContainer{
  @include media('<=xxlarge') {
    display: none!important;
  }
  position: absolute;
  width: 100%;
  top: 10px;
  opacity: 0;
  transition: 1s ease;
  #logoTagline{
    width: 132px!important;
    left: 63px;
    z-index: 2;
  }
}

.logo:hover{
  #logoTaglineContainer{
    top: 36px;
    opacity: 1;
    transition: 1s ease;
  }
}

.Éditions, .editions{
  #logoTagline{
    display: none!important;
  }
  #logoTaglineContainer{
    display: none!important;
  }
}
.Éditions{
  .logo:hover, .logo:active, .logo:focus{
    #mainLogo{
      transform: scale(1)!important;
      transition: 2s ease;
    }
  }
}

.logo:hover, .logo:active, .logo:focus{
  #mainLogo{
    transform: scale(0.85);
    transition: 2s ease;
    @include media('<=large', '>mobile') {
      margin-left: 21px;
    }
  }
}