@import '~include-media/dist/_include-media.scss';
@import './intro';
@import './variables';

body {
  height: auto;
  &:before {
    z-index: 3;
  }
  &.nouveautesOpened {
    position: fixed;
    width: 100%;
    .footer,
    .header {
      display: none;
    }
    section {
      z-index: 5;
      .box {
        opacity: 0;
      }
      .nouveautes {
        top: -1px;
        padding: 40px;
        border: transparent;
        &:after {
          top: 40px;
          transform: rotate(90deg);
        }
        h2 {
          padding: 0;
        }
      }
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.button {
  display: inline-block;
  padding: 0 25px 0 10px;
  line-height: 33px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.4px;
  border: 1px transparent solid;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  &.black {
    color: #000000;
    border-color: #000000;
    background-image: url('../img/button-arrow-right-black.png');
  }
  &.yellow {
    color: $roche-yellow;
    border-color: $roche-yellow;
    background-image: url('../img/button-arrow-right-yellow.png');
  }
}

section {
  width: 200%;
  z-index: 2;
  article {
    position: relative;
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center;
    opacity: 0;
    z-index: 1;
    &.article-1 {
      justify-content: space-between;
    }
    // &.article-2 {
    //   margin-top: 100px;
    // }
    // &.article-3 {
    //   margin-top: -400px;
    // }
    // &.article-4 {
    //   margin-top: -200px;
    // }
    // &.article-5 {
    //   margin-top: -100px;
    // }
    // &.article-6 {
    //   margin-top: 800px;
    // }
    &.align-left {
      .box {
        margin-left: 40px;
        padding-right: 40px;
        @include media('>=large') {
          em,
          strong,
          .button {
            margin-left: 80px;
          }
        }
      }
    }
    &.align-right {
      justify-content: flex-end;
      .box {
        margin-right: 40px;
        padding-left: 40px;
        text-align: right;
        @include media('>=large') {
          em,
          strong,
          .button {
            margin-right: 80px;
          }
        }
      }
    }
    &.right {
      margin-left: 50%;
    }
    .box {
      color: $roche-yellow;
      br {
        display: none;
      }
      h2 {
        font-size: 31px;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 55px;
        letter-spacing: 1px;
        @include media('<large') {
          margin-bottom: 20px;
        }
        small {
          display: block;
          font-size: 23px;
        }
      }
      em {
        display: block;
        margin-left: 80px;
        font-family: 'Playfair Display', serif;
        font-size: 19px;
        font-style: italic;
        font-weight: 100;
        line-height: 25px;
        letter-spacing: 0.2px;
      }
      strong {
        display: block;
        margin: 40px 40px 40px 0;
        font-size: 12px;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 1.4px;
      }
    }
    .scroll-down {
      position: absolute;
      bottom: 80px;
      left: 50%;
      margin-left: -84px;
      img {
        animation: bounce 4s ease infinite;
      }
      @include media('<large') {
        display: none;
      }
    }
    .nouveautes {
      position: relative;
      width: 25%;
      margin-right: 40px;
      overflow: hidden;
      z-index: 2;
      @include media('<xlarge') {
        width: 35%
      }
      @include media('<large') {
        position: fixed;
        width: auto;
        height: 100%;
        top: calc(100% - 55px);
        left: 0;
        right: 0;
        margin-right: 0;
        border-top: 1px $roche-yellow solid;
        &:after,
        &:before {
          content: '';
          position: absolute;
        }
        &:before {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          z-index: -9999;
        }
        &:after {
          top: 20px;
          right: 40px;
          width: 6px;
          height: 11px;
          background-image: url('../img/button-arrow-right-yellow.png');
          transform: rotate(-90deg);
          z-index: -1;
        }
      }
      h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 100;
        color: $roche-yellow;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        @include media('<large') {
          padding: 20px 40px;
          font-size: 15px;
          cursor: pointer;
        }
      }
      i {
        display: block;
        margin-bottom: 20px;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-style: italic;
        line-height: 23px;
        @include media('<large') {
          color: $roche-yellow;
        }
      }
      .text {
        position: relative;
        padding: 20px;
        margin-bottom: -18px;
        font-size: 13px;
        font-style: italic;
        line-height: 16px;
        border: 1px #000000 solid;
        border-bottom: none;
        @include media('<large') {
          padding: 0;
          margin-bottom: 20px;
          color: $roche-yellow;
          border: none;
        }
      }
      .button {
        position: relative;
        float: right;
        margin-right: 20px;
        @include media('<large') {
          float: none;
          color: $roche-yellow;
          border-color: $roche-yellow;
          background-image: url('../img/button-arrow-right-yellow.png');
        }
        &:after,
        &:before {
          content: '';
          position: absolute;
          width: 100vw;
          bottom: 15px;
          border-top: 1px #000000 solid;
          @include media('<large') {
            content: none;
          }
        }
        &:before {
          right: 100%;
        }
        &:after {
          left: 100%;
        }
      }
    }
  }
}

.swipe-background {
  position: absolute;
  width: 200%;
  height: 100%;
  background-image: url('../img/background-home-desktop.jpg');
  background-size: 100% 100%;
  z-index: 0;
  @include media('<large') {
    background-image: url('../img/background-home-mobile.jpg');
  }
}

.overlay-begin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/overlay-begin.png');
  opacity: 0.8;
  z-index: 1;
}

@keyframes bounce {
  from { opacity: 1; }
  50%  { opacity: 0.2; }
  to   { opacity: 1; }
}