@import '~reset-css/_reset';
@import './zoom';
@import './variables';

html {
  background-color: #000000;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Azo Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 200;
  color: $roche-yellow;
  letter-spacing: 2px;
  text-transform: uppercase;
  small {
    display: block;
    font-size: 0.8em;
  }
}

p {
  margin-bottom: 20px;
}

i {
  font-style: italic;
}

.mfp-title {
  padding-top: 10px;
  font-size: 14px;
}

.header {
  position: relative;
  display: flex;
  z-index: 1;
  .editions-only {
    display: none;
  }
  .languages {
    position: absolute;
    top: 20px;
    right: 140px;
    z-index: 1;
    ul {
      float: left;
      li {
        float: left;
        margin-left:  -1px;
        a {
          display: block;
          width:  30px;
          line-height: 30px;
          font-size: 12px;
          color: $roche-yellow;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    &:hover {
      .available {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }
    .current {
      li {
        border: 1px $roche-yellow solid;
      }
    }
    .available {
      li {
        border: 1px rgba(255, 243, 141, 0.2) solid;
      }
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.2s, opacity 0.2s linear;
    }
  }
  .zoom {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
    li {
      float: left;
      width:  30px;
      margin-left:  -1px;
      line-height: 30px;
      font-size: 12px;
      color: $roche-yellow;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px $roche-yellow solid;
      cursor: pointer;
    }
  }
  .left,
  .right {
    position: relative;
    flex: 1;
    padding-top: 80px;
    border-bottom: 1px $roche-yellow solid;
    z-index: 0;
    li {
      position: relative;
      font-size: 12px;
      font-weight: 400;
      color: $roche-yellow;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: color 0.2s;
      &:after,
      &:before {
        content: '';
        position: absolute;
        transition: 0.2s;
      }
      &:after {
        width: 0;
        height: 1px;
        background: linear-gradient(to right, $roche-yellow 0%, #ffffff 50%, $roche-yellow 100%);
      }
      &:before {
        border-left: 1px $roche-yellow solid;
      }
      &:hover,
      &.active {
        color: #ffffff;
        &:after {
          width: 200px;
        }
        &:before {
          height: 100%;
          border-color: #ffffff;
        }
      }
      a {
        display: block;
        height: 100%;
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .left {
    padding-left: 40px;
    li {
      padding-left: 10px;
      &:after,
      &:before {
        left: 0;
      }
      &:hover,
      &.active {
        &:after {
          left: -100px;
        }
      }
    }
    .sub-menu {
      left: 40px;
      right: 0;
    }
  }
  .right {
    padding-right: 40px;
    li {
      text-align: right;
      padding-right: 10px;
      &:after,
      &:before {
        right: 0;
      }
      &:hover,
      &.active {
        &:after {
          right: -100px;
        }
      }
    }
    .sub-menu {
      left: 0;
      right: 40px;
    }
  }
  .logo {
    position: relative;
    width: 170px;
    .editions {
      display: none;
    }
    img {
      position: absolute;
      left: 50%;
      bottom: -20px;
      margin-left: -45px;
    }
  }
  .menu,
  .sub-menu {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    li {
      padding-bottom: 20px;
      cursor: default;
      &:after,
      &:before {
        bottom: -1px;
      }
      &:before {
        height: 0;
      }
    }
  }
  .sub-menu {
    display: flex;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
    &.active {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
    li {
      padding-top: 25px;
      &:after,
      &:before {
        top: 0;
      }
      &:before {
        height: 0px;
      }
    }
  }
}

.footer {
  position: relative;
  height: 35px;
  &:hover {
    .hover {
      top: -150px;
      .top {
        opacity: 0;
      }
    }
  }
  .hover {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 0.5s;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.5s;
      z-index: 0;
    }
    .top,
    .bottom {
      display: flex;
      z-index: 1;
    }
    .top {
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      span {
        margin: 0 20px;
        line-height: 35px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $roche-yellow;
      }
    }
    .bottom {
      flex: 1;
      justify-content: space-evenly;
      .column {
        padding: 5px 0 40px 30px;
        border-left: 1px $roche-yellow solid;
        a,
        span {
          display: block;
          margin-bottom: 10px;
          font-size: 12px;
          color: $roche-yellow;
          letter-spacing: 1px;
        }
        span {
          text-transform: uppercase;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  z-index: 0;
  overflow: hidden;
  > .zone,
  > .left,
  > .right {
    flex: 1;
    position: relative;
  }
  > .zone {
    padding: 100px 50px 0;
  }
  > .left {
    padding: 100px 0 0 50px;
  }
  > .right {
    padding: 100px 50px 50px 0;
    overflow: auto;
  }
  > .right {
    position: sticky;
    top: 0;
    h2, h3 {
      color: $roche-yellow; 
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 13px;
      margin-bottom: 20px;
    }
    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
    .catch-message {
      color: #ff0000;
      font-size: 14px;
      ul {
        padding: 10px 20px;
        list-style: disc;
      }
    }
  }
  > .hole {
    width: 170px;
  }
}