@import '~reset-css/_reset';
@import '~include-media/dist/_include-media.scss';
@import './variables';
@import './zoom';
@import './popup';
@import './loader';
@import './header';
@import './footer';

html {
  background-color: #000000;
  // Fix for Magnific Popup
  margin-right: 0!important;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Azo Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 200px, transparent 100%);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
  }
  &.editions {
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 200px, transparent 100%);
    }
  }
  &.hover {
    &:before {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}

h1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 200;
  color: $roche-yellow;
  letter-spacing: 2px;
  text-transform: uppercase;
  small {
    display: block;
    font-size: 0.8em;
  }
}

p {
  margin-bottom: 20px;
}

i {
  font-style: italic;
}

.mfp-title {
  padding-top: 10px;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  z-index: 0;
  overflow: hidden;
  & > {
    .zone,
    .left,
    .right {
      flex: 1;
      position: relative;
    }
    .zone {
      padding: 100px 40px 0;
    }
    .hole {
      width: 170px;
    }
    .left {
      padding: 100px 0 0 40px;
    }
    .right {
      padding: 100px 40px 40px 0;
      overflow: auto;
    }
    .right {
      position: sticky;
      top: 0;
      h2, h3 {
        color: $roche-yellow; 
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 30px;
      }
      h3 {
        font-size: 13px;
        margin-bottom: 20px;
      }
      p {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
      }
    }
  }
}