@import '~reset-css/_reset';

$roche-yellow: #faf28e;
$roche-orange: #ef7d1d;

html {
  background-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Azo Sans', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 200;
  color: $roche-yellow;
  letter-spacing: 2px;
  text-transform: uppercase;
  small {
    display: block;
    font-size: 0.8em;
  }
}

p {
  margin-bottom: 20px;
}

i {
  font-style: italic;
}

.mfp-title {
  padding-top: 10px;
  font-size: 14px;
}

.header {
  position: relative;
  display: flex;
  z-index: 1;
  .editions-only {
    display: none;
  }
  .languages {
    position: absolute;
    top: 20px;
    right: 130px;
    z-index: 1;
    ul {
      float: left;
      li {
        float: left;
        margin-left:  -1px;
        a {
          display: block;
          width:  30px;
          line-height: 30px;
          font-size: 12px;
          color: $roche-yellow;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    &:hover {
      .available {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }
    .current {
      li {
        border: 1px $roche-yellow solid;
      }
    }
    .available {
      li {
        border: 1px rgba(255, 243, 141, 0.2) solid;
      }
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.2s, opacity 0.2s linear;
    }
  }
  .zoom {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1;
    li {
      float: left;
      width:  30px;
      margin-left:  -1px;
      line-height: 30px;
      font-size: 12px;
      color: $roche-yellow;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px $roche-yellow solid;
      cursor: pointer;
    }
  }
  .left,
  .right {
    position: relative;
    flex: 1;
    padding-top: 80px;
    border-bottom: 1px $roche-yellow solid;
    z-index: 0;
    li {
      position: relative;
      font-size: 12px;
      font-weight: 400;
      color: $roche-yellow;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: color 0.2s;
      &:after,
      &:before {
        content: '';
        position: absolute;
        transition: 0.2s;
      }
      &:after {
        width: 0;
        height: 1px;
        background: linear-gradient(to right, $roche-yellow 0%, #ffffff 50%, $roche-yellow 100%);
      }
      &:before {
        border-left: 1px $roche-yellow solid;
      }
      &:hover,
      &.active {
        color: #ffffff;
        &:after {
          width: 200px;
        }
        &:before {
          height: 100%;
          border-color: #ffffff;
        }
      }
      a {
        display: block;
        height: 100%;
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .left {
    padding-left: 40px;
    li {
      padding-left: 10px;
      &:after,
      &:before {
        left: 0;
      }
      &:hover,
      &.active {
        &:after {
          left: -100px;
        }
      }
    }
    .sub-menu {
      left: 40px;
      right: 0;
    }
  }
  .right {
    padding-right: 40px;
    li {
      text-align: right;
      padding-right: 10px;
      &:after,
      &:before {
        right: 0;
      }
      &:hover,
      &.active {
        &:after {
          right: -100px;
        }
      }
    }
    .sub-menu {
      left: 0;
      right: 40px;
    }
  }
  .logo {
    position: relative;
    width: 170px;
    &.editions {
      display: none;
    }
    img {
      position: absolute;
      left: 50%;
      bottom: -20px;
      margin-left: -45px;
    }
  }
  .menu,
  .sub-menu {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    li {
      padding-bottom: 20px;
      cursor: default;
      &:after,
      &:before {
        bottom: -1px;
      }
      &:before {
        height: 0;
      }
    }
  }
  .sub-menu {
    display: flex;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
    &.active {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
    li {
      padding-top: 25px;
      &:after,
      &:before {
        top: 0;
      }
      &:before {
        height: 0px;
      }
    }
  }
}

.footer {
  position: relative;
  height: 35px;
  &:hover {
    .hover {
      top: -150px;
      .top {
        opacity: 0;
      }
    }
  }
  .hover {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 0.5s;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.5s;
      z-index: 0;
    }
    .top,
    .bottom {
      display: flex;
      z-index: 1;
    }
    .top {
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      span {
        margin: 0 20px;
        line-height: 35px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $roche-yellow;
      }
    }
    .bottom {
      flex: 1;
      justify-content: space-evenly;
      .column {
        padding: 5px 0 40px 30px;
        border-left: 1px $roche-yellow solid;
        a,
        span {
          display: block;
          margin-bottom: 10px;
          font-size: 12px;
          color: $roche-yellow;
          letter-spacing: 1px;
        }
        span {
          text-transform: uppercase;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.content {
  position: relative;
  display: flex;
  flex: 1;
  z-index: 0;
}

/* Introduction */

.animation-intro {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-name: intro-hidden;
  animation-delay: 20s;
  animation-fill-mode: forwards;
  z-index: 4;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    animation-name: intro-opacity-reverse;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    z-index: 0;
  }
  .element {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -91px;
    animation-name: intro-mount;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    z-index: 1;
    .logo {
      width: 160px;
      height: 122px;
      background: url('../img/logo-icon.png') no-repeat;
      animation-name: intro-opacity;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      &:before {
        background-image: url('../img/logo-overlay.png');
        transform-origin: 70px 41px;
        animation-name: intro-scale;
        animation-duration: 10s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        z-index: 1;
      }
      &:after {
        background-image: url('../img/logo-text.png');
        animation-name: intro-opacity-text;
        animation-duration: 8s;
        animation-delay: 6s;
        opacity: 0;
        z-index: 2;
      }
    }
  }
}

body.intro {
  .animation-intro {
    display: block;
  }
  .header,
  .footer,
  .scroll-down,
  .swipe-section {
    opacity: 0;
    animation-name: intro-opacity;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  .header,
  .footer {
    animation-delay: 15s;
  }
  .swipe-section {
    animation-delay: 17s;
  }
  .swipe-section {
    animation-delay: 17s;
  }
  .scroll-down {
    animation-delay: 19s;
  }
}

@keyframes intro-hidden {
  from { visibility: visible; }
  to { visibility: hidden; }
}

@keyframes intro-opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes intro-opacity-reverse {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes intro-opacity-text {
  from { opacity: 0; }
  40% { opacity: 1; }
  60% { opacity: 1; }
  to { opacity: 0; }
}

@keyframes intro-scale {
  from { transform: scale(1); visibility: visible; }
  50% { visibility: hidden; }
  to { transform: scale(5); visibility: hidden; }
}

@keyframes intro-mount {
  from { top: 45%; }
  to { top: 58px; }
}

/* Page */

body.page {
  height: 100vh;
  overflow: hidden;
  .header {
    .right {
      .sub-menu {
        left: 0;
        right: 0;
        padding: 0 40px;
        &:before {
          content: '';
          position: absolute;
          top: 1px;
          bottom: -50px;
          left: 0;
          right: 0;
          background: linear-gradient(to bottom, #000000 0px, transparent 100%);
        }
      }
    }
  }
  .content {
    .left,
    .right {
      display: flex;
      flex: 1;
      position: relative;
      overflow: hidden;
    }
    .hole {
      width: 170px;
    }
    .inner {
      flex: none;
      width: calc(100% + 85px);
      padding: 120px 85px 50px 100px;
      box-sizing: border-box;
      overflow-y: scroll;
    }
    .intro {
      font-size: 14px;
      font-style: italic;
      color: $roche-yellow;
      line-height: 18px;
      margin-bottom: 40px;
      b {
        color: #ffffff;
      }
      a {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px #fff solid;
      }
    }
    .right {
      h2, h3 {
        color: $roche-yellow; 
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 30px;
      }
      h3 {
        font-size: 13px;
        margin-bottom: 20px;
      }
      p {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
      }
      .catch-message {
        color: red;
        font-size: 14px;
        ul {
          padding: 10px 20px;
          list-style: disc;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  &:after {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    bottom: 18px;
    left: 0;
    border-radius: 7px;
    background: $roche-yellow;
  }
  &.single {
    h2 {
      cursor: pointer;
    }
    .item {
      overflow: inherit;
      max-height: none;
      padding-bottom: 20px;
      p {
        opacity: 1;
      }
    }
  }
  .item {
    position: relative;
    max-height: 30px;
    padding: 0 0 0 20px;
    color: $roche-yellow;
    overflow: hidden;
    transition: 0.8s;
    &:after,
    &:before {
      content: '';
      position: absolute;
      background-color: $roche-yellow;
      z-index: 0;
    }
    &:before {
      top: 5px;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 7px;
    }
    &:after {
      top: 0;
      bottom: 0;
      left: 3px;
      width: 1px;
    }
    &:first-child {
      &:after {
        top: 8px;
      }
    }
    &:last-child {
      &:after {
        bottom: 22px;
      }            
    }
    &.active {
      color: #ffffff;
      padding-bottom: 20px;
      &:before {
        background-color: #ffffff;
      }
      &:after {
        background: linear-gradient(to bottom, #ffffff 0%, $roche-yellow 75%);
      }
      p {
        opacity: 1;
      }
    }
    h2 {
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer;
    }
    h3 {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #faf28e;
    }
    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 18px;
      opacity: 0;
      transition: opacity 0.8s;
      transition-delay: 0.2s;
    }
    a {
      color: $roche-yellow;
      text-decoration: none;
      border-bottom: 1px $roche-yellow solid;
    }
    hr {
      margin: 20px 0;
      border: none;
      border-bottom: 1px $roche-yellow solid;
      opacity: 0.2;
    }
    blockquote {
      position: relative;
      margin: 0 0 20px -40px;
      padding: 20px 0;
      color: $roche-yellow;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: -50px;
        bottom: -50px;
        left: 23px;
        width: 1px;
        background: linear-gradient(to bottom, #ffffff 0%, #232323 25%, #232323 75%, $roche-yellow 100%);
        z-index: 0;
      }
      p,
      strong {
        position: relative;
        animation-name: blockquoteEnter;
        animation-duration: 0.8s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        transform: translateX(40px);
        z-index: 1;
      }
      p {
        margin: 0;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-style: italic;
        line-height: 24px;
      }
      strong {
        display: block;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
      }
    }
    .input,
    .select,
    .textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
      line-height: 30px;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      border: 1px solid $roche-yellow;
      border-radius: 0;
      box-sizing: border-box;
      background-color: transparent;
      outline: none;
      resize: none;
      &::placeholder {
        color: $roche-yellow;
        opacity: 1;
      }
      &.submit {
        margin-top: 10px;
      }
    }
    .select {
      color: $roche-yellow;
      padding: 5px 40px 5px 20px;
      font-family: 'Lato', sans-serif;
      background-image: url('../img/arrow-select-yellow.png');
      background-position: calc(100% - 20px) center;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      &.white {
        color: #ffffff;
        background-image: url('../img/arrow-select-white.png');
      }
    }
    option {
      color: #ffffff;
      background: #0f0f0f;
    }
    .textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 80px;
      max-height: 80px;
    }
    .button {
      padding: 0 20px;
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      color: $roche-yellow;
      border: 1px #faf28e solid;
      background: none;
      box-sizing: border-box;
      outline: none;
      cursor: pointer;
      &.submit {
        color: #ffffff;
        border-color: #ffffff;
      }
      &.radio {
        padding-right: 40px;
        background-image: url('button-radio-unchecked.png');
        background-position: calc(100% - 10px);
        background-repeat: no-repeat;
        background-size: 18px;
        &.checked {
          color: #ffffff;
          border-color: #ffffff;
          background-image: url('button-radio-checked.png');
        }
      }
    }
    .panel {
      display: none;
      position: relative;
      margin: 20px 0;
      padding: 30px 30px 0px 20px;
      &.active {
        display: block;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -17px;
        right: -20px;
        background: #000000;
        opacity: 0.5;
        z-index: -99999;
      }
    }
    .catch-message {
      color: red;
      line-height: 50px;
      font-size: 14px;
    }
    [class*=pure-g] {
      padding: 10px 0;
      margin: 0 -10px;
      [class*=pure-u] {
        padding: 0 10px;
        box-sizing: border-box;
      }
      a {
        display: block;
        width: 100%;
      }
    }
  }
}

@keyframes blockquoteEnter {
  from { transform: translateX(40px); }
  to { transform: translateX(0px); }
}

/* Home */

body.home {
  position: relative;
  overflow-x: hidden;
  section {
    width: 200%;
    z-index: 2;
    article {
      position: relative;
      display: flex;
      width: 50%;
      height: 100vh;
      align-items: center;
      z-index: 1;
      &.article-1 {
        justify-content: space-between;
      }
      &.article-2 {
        margin-top: 100px;
      }
      &.article-3 {
        margin-top: -400px;
      }
      &.article-4 {
        margin-top: -200px;
      }
      &.article-5 {
        margin-top: -100px;
      }
      &.article-6 {
        margin-top: 800px;
      }
      &.align-left {
        .box {
          margin-left: 40px;
          i,
          span,
          .button {
            margin-left: 80px;
          }
        }
      }
      &.align-right {
        justify-content: flex-end;
        .box {
          margin-right: 40px;
          text-align: right;
          i,
          span,
          .button {
            margin-right: 80px;
          }
        }
      }
      &.right {
        margin-left: 50%;
      }
      .box {
        color: $roche-yellow;
        h2 {
          font-size: 31px;
          font-weight: 100;
          text-transform: uppercase;
          margin-bottom: 55px;
          letter-spacing: 1px;
          small {
            display: block;
            font-size: 23px;
          }
        }
        i {
          display: block;
          margin: 0 0 40px 80px;
          font-family: 'Playfair Display', serif;
          font-size: 19px;
          font-style: italic;
          font-weight: 100;
          line-height: 25px;
          letter-spacing: 0.2px;
        }
        span {
          display: block;
          margin: 0 40px 40px 0;
          font-size: 12px;
          text-transform: uppercase;
          text-align: right;
          letter-spacing: 1.4px;
        }
      }
      .scroll-down {
        position: absolute;
        bottom: 80px;
        left: 50%;
        margin-left: -84px;
        img {
          animation: bounce 4s ease infinite;
        }
      }
      .nouveautes {
        width: 25%;
        margin-right: 40px;
        overflow: hidden;
        h2 {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: 100;
          color: $roche-yellow;
          text-transform: uppercase;
          letter-spacing: 1.6px;
        }
        i {
          display: block;
          margin-bottom: 20px;
          font-family: 'Playfair Display', serif;
          font-size: 18px;
          font-style: italic;
          line-height: 23px;
        }
        .text {
          position: relative;
          padding: 20px;
          margin-bottom: -18px;
          font-size: 13px;
          font-style: italic;
          line-height: 16px;
          border: 1px #000000 solid;
          border-bottom: none;
        }
        .button {
          position: relative;
          float: right;
          margin-right: 20px;
          &:after,
          &:before {
            content: '';
            position: absolute;
            width: 100vw;
            bottom: 18px;
            border-bottom: 1px #000000 solid;
          }
          &:before {
            right: 100%;
          }
          &:after {
            left: 100%;
          }
        }
      }
    }
  }
  .swipe-background {
    position: absolute;
    width: 200%;
    height: 100%;
    background-image: url('../img/background-home-2.jpg');
    background-size: 100% auto;
    z-index: 0;
  }
  .overlay-begin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/overlay-begin.png');
    opacity: 0.8;
    z-index: 1;
  }
  .button {
    display: inline-block;
    padding: 0 25px 0 10px;
    line-height: 35px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.4px;
    border: 1px transparent solid;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    &.black {
      color: #000000;
      border-color: #000000;
      background-image: url('../img/button-arrow-right-black.png');
    }
    &.yellow {
      color: $roche-yellow;
      border-color: $roche-yellow;
      background-image: url('../img/button-arrow-right-yellow.png');
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
  }
}

@keyframes bounce {
  from { opacity: 1; }
  50%  { opacity: 0.2; }
  to   { opacity: 1; }
}

/* Intervenants */

body.intervenants {
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/background-retraites.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .content {
    flex-direction: column;
  }
  .zone {
    width: 100%;
    padding: 120px 100px 0;
    box-sizing: border-box;
    .intro {
      width: 40%;
    }
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    margin-top: -34px;
    width: 68px;
    height: 68px;
    background-image: url('../img/arrow-left.png');
    z-index: 1;
    cursor: pointer;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
    background-image: url('../img/arrow-right.png');
  }
  .intervenants {
    position: relative;
    padding: 0 80px 60px;
    flex: 1;
    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      position: relative;
      height: 100%;
      margin: 0 20px;
      outline: none;
      overflow: hidden;
      &:hover {
        .description {
          top: 0;
          .more {
            opacity: 1;
          }
        }
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 39px;
        height: 39px;
        background-image: url('../img/plus.png');
        z-index: 2;
      }
      .portrait {
        position: relative;
        height: 180px;
        background-size: cover;
        background-position: center;
        z-index: 0;
      }
      .description {
        position: absolute;
        top: 180px;
        bottom: 0;
        padding: 25px;
        background-color: #000000;
        color: #ffffff;
        transition: 0.5s;
        z-index: 1;
        h2 {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        span {
          display: block;
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          font-style: italic;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
        }
        .more {
          transition: 0.5s;
          opacity: 0;
        }
      }
    }   
  }
}

body.nous-soutenir {
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/background-nous-soutenir.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  h2 {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .content {
    .right {
      .zone {
        padding: 210px 100px 0 0;
      }
    }
  }
  .dropdown {
    h3 {
      margin-bottom: 20px;
      font-size: 11px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
    }
    img {
      margin-bottom: 20px;
    }
  }
}

body.infos {
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/background-nous-soutenir.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .header {
    .right {
      .sub-menu {
        left: 0;
        right: 0;
        padding: 0 40px;
        &:before {
          content: '';
          position: absolute;
          top: 1px;
          bottom: -50px;
          left: 0;
          right: 0;
          background: linear-gradient(to bottom, #000000 0px, transparent 100%);
        }
      }
    }
  }
  .content {
    .right {
      .zone {
        padding: 210px 100px 0 0;
      }
    }
  }
}

/* Editions */

body.editions-details,
body.editions-nouveautes,
body.editions-collections {
  background-image: url('../img/background-editions.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  h1 {
    color: #000000;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
  }
  .header {
    .normal {
      display: none;
    }
    .editions-only {
      display: block;
    }
    .logo {
      img {
        bottom: -60px;
        margin-left: -70px;
      }
    }
    .left,
    .right {
      border-color: #000000;
      li {
        color: #000000;
        &:after {
          background: linear-gradient(to right, #000000 0%, $roche-orange 50%, #000000 100%);
        }
        &:before {
          border-left: 1px #000000 solid;
        }
        &:hover,
        &.active {
          color: $roche-orange;
          &:before {
            border-color: $roche-orange;
          }
        }
      }
      .sub-menu {
        left: 0;
        right: 0;
        padding: 0 40px;
      }
    }
  }
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
  }
  .zone {
    width: 100%;
    padding: 120px 100px 100px;
    box-sizing: border-box;
  }
  .nouveautes {
    position: relative;
    margin-bottom: 60px;
    .prev,
    .next {
      position: absolute;
      top: 50%;
      margin-top: -34px;
      width: 68px;
      height: 68px;
      background-image: url('../img/arrow-left-orange.png');
      z-index: 1;
      cursor: pointer;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
      background-image: url('../img/arrow-right-orange.png');
    }
    .slick-slider {
      img {
        width: 100%;
      }
      .slick-slide {
        outline: none;
      }
    }
  }
  .editions-collections-filtres {
    margin-bottom: 40px;
  }
  .featured {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .product {
      position: relative;
      width: 24%;
      height: 360px;
      overflow: hidden;
      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 43px;
        height: 44px;
        transition: 0.5s;
      }
      &:after {
        background-image: url('../img/plus-orange.png');
        z-index: 2;
      }
      &:before {                
        background-image: url('../img/plus-white.png');
        z-index: 3;
      }
      &:hover {
        &:before {
          opacity: 0;
        }
        .description {
          top: 0;
          padding: 40px 40px 20px 20px;
          &:after {
            opacity: 1;
          }
          .more {
            opacity: 1;
          }
          .cart {
            bottom: 20px;
          }
          .price {
            right: 60px;
          }
        }
      }
      .illustration {
        position: relative;
        height: 250px;
        background-size: cover;
        background-position:  center;
        z-index: 0;
      }
      .description {
        position: absolute;
        top: 250px;
        bottom: 0;
        padding: 20px 110px 20px 20px;
        font-size: 12px;
        font-weight: 300;
        background: #ffffff;
        transition: 0.5s;
        z-index: 1;
        &:after {
          content: '';
          position: absolute;
          bottom: 60px;
          left: 20px;
          right: 20px;
          border-bottom: 1px #cccccc solid;
          opacity: 0;
          transition: 0.5s;
        }
        h3 {
          margin-bottom: 20px;
          font-size: 13px;
          font-weight: 300;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        .cart {
          position: absolute;
          bottom: 65px;
          right: 20px;
          transition: 0.5s;
        }
        .price {
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 23px;
          font-weight: 300;
          color: $roche-orange;
          transition: 0.5s;
          small {
            font-size: 16px;
            margin-left: 5px;
          }
        }
        .more {
          opacity: 0;
          transition: 0.5s;
        }
      }
    }
  }
  .see-all-products {
    float: right;
    margin-top: -40px;
  }
}

body.editions-collections {
  .collections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .product,
    .collection {
      width: 50%;
    }
    .product {
      margin-right: 20px;
    }
    .collection {
      & > span {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    .see-all-products {
      margin-right: 20px;
    }
  }
  .zone {
    padding-bottom: 40px;
  }
}

body.editions-details {
  .zone {
    display: flex;
    justify-content: space-between;
    .left,
    .right {
      img {
        max-width: 100%;
      }
    }
    .pictures {
      position: relative;
      display: flex;
      height: 500px;
      margin-bottom: 10px;
      img {
        object-fit: cover;
      }
      .prev,
      .next {
        background-image: url('../img/arrow-left-orange.png');
      }
      .next {
        background-image: url('../img/arrow-right-orange.png');
      }
    }
    .details-text {
      margin-bottom: 60px;
    }
  }
}

/* Zoom */

body {
  &.zoom-2x {
    .button {
      font-size: 14px;
      line-height: 37px;
      padding: 0 27px 0 12px;
      background-position: calc(100% - 12px) center;
    }
    .dropdown .item {
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
      }
      blockquote {
        p {
          font-size: 20px;
          line-height: 24px;
        }
        strong {
          font-size: 16px;
        }
      }
    }
    &.home {
      .swipe-section {
        i {
          font-size: 21px;
          line-height: 27px;
        }
        span {
          font-size: 16px;
        }
      }
      .nouveautes {
        p {
          font-size: 15px;
          line-height: 18px;
        }
        .text {
          margin-bottom: -19px;
        }
        .button {
          &:after,
          &:before {
            bottom: 19px;
          }
        }
      }
    }
  }
  &.zoom-4x {
    .button {
      font-size: 16px;
      line-height: 39px;
      padding: 0 29px 0 14px;
      background-position: calc(100% - 14px) center;
    }
    .dropdown .item {
      h2 {
        font-size: 17px;
      }
      p {
        font-size: 18px;
        line-height: 22px;
      }
      blockquote {
        p {
          font-size: 22px;
          line-height: 26px;
        }
        strong {
          font-size: 18px;
        }
      }
    }
    &.home {
      .swipe-section {
        i {
          font-size: 23px;
          line-height: 29px;
        }
        span {
          font-size: 18px;
        }
      }
      .nouveautes {
        p {
          font-size: 17px;
          line-height: 20px;
        }
        .text {
          margin-bottom: -20px;
        }
        .button {
          &:after,
          &:before {
            bottom: 20px;
          }
        }
      }
    }
  }
}