@import './variables';
@import './page';

.pure-u-md-1-2{
  margin-top: 25px;
}

.content {
  > .right {
    display: block;
    @include media('<large') {
      display: none;
    }
  }
  .dropdown {
    max-width: 580px!important;
    .item {
      &.active {
        h2 {
          span {
            display: none;
          }
        }
      }
      &.canOpen {
        font-family: lato, 'lato', sans-serif;
        h2 {
          cursor: pointer;
        }
      }
      h2 {
        cursor: default;
        span {
          margin-left: 10px;
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          color: $roche-orange;
          border-bottom: 1px #ffb170 solid;
          opacity: 0;
          transition: 0.5s;
        }
      }
      .select-adliv {
        margin-bottom: 0;
      }

      &.shipping .country-not-disp-liv {
        margin-bottom: 16px;
        font-style: italic;
        font-size: 13px;
      }

      .button {
        &.radio {
          @include media('<medium') {
            min-height: 50px !important;
          }

          &.conData {
            @include media('<medium') {
              min-height: 75px!important;
            }
          }
        }

        &.pay {
          @include media('<medium') {
            min-height: 38px !important;
          }
        }
      }
    }
  }

  & > {
    .left {
      @include media('>large','<=limitMenuReduced') {
        padding: 40px 20px 0px 60px;
      }

      .item{
        padding-bottom: 0px!important;
      }
    }
  }
}
.modify-you {
  display: table;
  font-size: 14px;
  margin-bottom: 20px;
}
.delivery-render {
  margin-bottom: 40px;
  b {
    display: block;
    margin-bottom: 5px;
    color: $roche-orange;
  }
}
.you-render {
  .you {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p {
      flex: 1;
      margin: 0;
    }
    b {
      color: $roche-orange;
    }
  }
}
.consent-date-render {
    .consent-date-label {
        font-size: 12px;
        font-style: italic;
    }
}
.cart-render,
.detailCart-render {
  .table-mobile {
    @include media('>=xlarge') {
      display: none;
    }
  }
  .table {
    @include media('<xlarge') {
      display: none;
    }
    th, td {
      &.first {
        max-width: 100px;
      }

      .info-total {
        padding-top: 16px;
        font-style: italic;
        font-size: 13px;
      }
    }
  }
}
.table {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'lato', lato, sans-serif;
  color: $roche-orange;
  thead {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    th {
      padding: 10px 0;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      border-bottom: 1px #000000 solid;
      white-space: nowrap;
      &.first {
        padding-left: 0;
        text-align: left;
      }
      &.last {
        padding-right: 0;
        text-align: right;
        @include media('<large') {
          font-size: 0;
        }
      }
    }
  }
  tbody {
    tr {
      font-family: 'lato', lato, sans-serif;
      &:first-child {
        td {
          padding-top: 15px;
        }
      }
      &:last-child {
        td {
          padding-bottom: 15px;
        }
      }
      &.ttc {
        td {
          padding-top: 40px;
          font-size: 16px;
          text-transform: uppercase;
          color: $roche-orange;
        }
      }
      td {
        padding: 10px 0 5px;
        font-size: 14px;
        color: #000000;
        text-align: center;
        white-space: nowrap;
        a {
          color: inherit;
          border-bottom: none!important;
        }
        &.action {
          font-size: 14px;
          font-family: lato, 'lato', sans-serif;
        }
        &.quantity {
          .minus {
            margin-right: 10px;
          }
          .plus {
            margin-left: 10px;
          }
          i {
            color: $roche-orange;
          }
        }
        &.first {
          padding-left: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
        &.last {
          padding-right: 0;
          text-align: right;
          @include media('<large') {
            a {
              font-size: 0;
              &:before {
                content: '\274C';
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  tfoot {
    td {
      padding: 15px 0;
      text-align: right;
      border-top: 1px #000000 solid;
      font-family: lato, 'lato', 'sans-serif';
      font-size: 14px;
      span {
        margin-right: 10px;
      }
    }
  }
}
.table-mobile {
  margin-bottom: 20px;
  .product {
    position: relative;
    border-bottom: 1px #000000 solid;
    padding: 15px 0;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .name {
      width: 100%;
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .prices {
      margin-bottom: 15px;
      .ttc {
        display: block;
        color: $roche-orange;
        margin-bottom: 5px;
        .tva {
          color: #000000;
          font-size: 12px;
        }
      }
      .ht {
        display: block;
        font-size: 12px;
      }
    }
    .quantity {
      float: left;
      padding: 5px;
      margin-right: 5px;
      border: 1px #000000 solid;
      a, i {
        font-size: 24px;
        line-height: 0;
        vertical-align: -2px;
        border-bottom: none!important;
        &.plus,
        &.minus {
          margin: 0 5px;
        }
      }
    }
    .action {
      float: left;
      padding: 5px;
      border: 1px $roche-orange solid;
      a {
        margin: 0 5px;
        border-bottom: none!important;
      }
    }
    .total {
      position: absolute;
      right: 0;
      bottom: 14px;
    }
  }
  .amount {
    padding: 30px 0 15px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: $roche-orange;
    text-align: right;
    span {
      margin-right: 10px;
    }
  }
}