.content {
    flex-direction: column;
  }
.zone {
  width: 100%;
  padding: 120px 100px 0;
  box-sizing: border-box;
  .intro {
    width: 40%;
  }
}
.prev,
.next {
  position: absolute;
  top: 50%;
  margin-top: -34px;
  width: 68px;
  height: 68px;
  background-image: url('../img/arrow-left.png');
  z-index: 1;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  background-image: url('../img/arrow-right.png');
}
.intervenants {
  position: relative;
  padding: 0 80px 60px;
  flex: 1;
  .slick-slider,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-slide {
    position: relative;
    height: 100%;
    margin: 0 20px;
    outline: none;
    overflow: hidden;
    &:hover {
      .description {
        top: 0;
        .more {
          opacity: 1;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 39px;
      height: 39px;
      background-image: url('../img/plus.png');
      z-index: 2;
    }
    .portrait {
      position: relative;
      height: 180px;
      background-size: cover;
      background-position: center;
      z-index: 0;
    }
    .description {
      position: absolute;
      top: 180px;
      bottom: 0;
      padding: 25px;
      background-color: #000000;
      color: #ffffff;
      transition: 0.5s;
      z-index: 1;
      h2 {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
      span {
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
      }
      .more {
        transition: 0.5s;
        opacity: 0;
      }
    }
  }   
}