@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import '~include-media/dist/_include-media.scss';
@import './variables';

.content {
  flex-direction: column;
  .zone {
    flex: none;
  }
}
.prev,
.next {
  position: absolute;
  top: 50%;
  margin-top: -34px;
  width: 68px;
  height: 68px;
  background-image: url('../img/arrow-left.png');
  z-index: 1;
  cursor: pointer;
  @include media('<medium') {
    top: 180px;
    width: 45px;
    height: 45px;
    margin-top: -22px;
    background-size: 100%;
  }
}
.prev {
  left: 0;
}
.next {
  right: 0;
  background-image: url('../img/arrow-right.png');
}
.carousel {
  position: relative;
  min-height: 450px;
  padding: 20px 88px 50px;
  flex: 1;
  @include media('<medium') {
    padding: 0;
  }
  .slide {
    cursor: pointer;
    position: relative;
    min-height: 450px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    padding: 0 20px;
    @include media('<medium') {
      padding: 0;
    }
    
    &:hover {
     /*. &:before {
        opacity: 0;
      }
      description {
        width: 99%;
        padding-right: 17%;
        overflow: auto;
        @include media('>=medium') {
          top: 0;
        }
        .text {
          .short {
            opacity: 0;
          }
          .long {
            opacity: 1;
          }
        }
      }*/
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 20px;
      width: 39px;
      height: 39px;
      background-image: url('../img/plus.png');
      z-index: 2;
      transition: 0.5s;
      @include media('<medium') {
        content: none;
      }
    }
    .portrait {
      position: relative;
      height: 180px;
      background-size: cover;
      background-position: center;
      z-index: 0;
    }
    .description {
      box-sizing: border-box;
      transition: 0.5s;
      z-index: 1;
      @include media('>=medium') {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 180px;
        bottom: 0;
        padding: 20px;
        background-color: #000000;
        color: #ffffff;
      }
      @include media('<medium') {
        padding: 40px 20px 20px;
        background-color: #ffffff;
        color: #000000;
      }
      h2 {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
      span {
        display: block;
        font-family: 'lato', lato, sans-serif;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
      }
      .text {
        position: relative;
        .long,
        .short {
          position: absolute;
          transition: 0.5s;
          @include media('<medium') {
            position: relative;
          }
        }
        .long {
          opacity: 0;
          @include media('<medium') {
            opacity: 1;
          }
        }
        @include media('<medium') {
          .short {
            display: none;
          }
        }
      }
    }
  }   
}

.targeted{
  &:before {
    opacity: 0;
    transition: 0.5s;
  }
}

.clicked{ 
    //width: 99%;
    overflow: hidden;
    top: 0px !important;
    @include media('>=medium') {
      top: 0;
    }
    .inner{
      width: 100%;
      padding-right: 20%!important;
      overflow: auto;
      height: 100%;
    }
  }

  .clicked{ 
      .text {
        .short {
          opacity: 0;
        }
        .long {
          opacity: 1!important;
        }
      }
    }
