$roche-yellow: #faf28e;
$roche-orange: #ef7d1d;
$roche-brown: #3a2e23;
$roche-error-red: #ff6060;

$breakpoints: (small: 0px, mobile: 435px, medium: 768px, large: 1024px, hybrid: 1182px, xlarge: 1200px, xxlarge: 1440px, limitMenuReduced: 1440px, laptop: 1780px);