<h2><center>{{ 'payment.cheque'|trans|raw }}</center></h2>

<p>{{ 'gift.payment.mail.cheque'|trans({'%civility%': civility, '%name%': name, '%amount%': amount, '%affectation%': affectation})|raw }}</p>