<h2><center>{{ 'payment.virement'|trans|raw }}</center></h2>

<p>{{ 'gift.payment.mail.virement'|trans({'%civility%': civility, '%name%': name, '%amount%': amount, '%affectation%': affectation, '%bank_name%': bank_name, '%bank_account%': bank_account, '%bank_iban%': bank_iban, '%bank_bic%': bank_bic})|raw }}</p>