<h2><center>{{ 'gift.title'|trans|raw }}</center></h2>

<p>{{ 'gift-return.success.mail' | trans({'%link%': path('gift-' ~ app.request.locale), '%name%': name, '%amount%': amount, '%email%': email, '%address%': address, '%zipcode%': zipcode, '%city%': city, '%country%': country }) | raw }}</p>