<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LRDO</title>
    <link rel="stylesheet" href="https://use.typekit.net/ozm6rkb.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("assets/css/main.css") }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="{{ bodyClass|default('') }}" style="{{ bodyBackground|default(0)|constantBackground }}">
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set currentLocale = app.request.locale %}
    {% include 'parts/header.html.twig' %}
    {% block content %}{% endblock %}
    {% include 'parts/footer.html.twig' %}
    <script src="{{ asset('assets/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>