{% set bodyClass = "page" %}
{% set bodyBackground = background %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <h1>{{ 'logout.disconnect.title' | trans | raw }}</h1>
        <div class="intro">
            {{ 'logout.disconnect.calendar' | trans | raw }}
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}
