<div class="header">
    <div class="languages">
        <ul class="available">
            <li><a href="#">en</a></li>
            <li><a href="#">es</a></li>
            <li><a href="#">de</a></li>
            <li><a href="#">it</a></li>
        </ul>
        <ul class="current">
            <li><a href="#">fr</a></li>
        </ul>
    </div>
    <ul class="zoom">
        <li class="minus">A -</li>
        <li class="plus">A +</li>
    </ul>
    <div class="left">
        <ul class="menu">
            <li data-menu="vgbhnj">La communauté et les maisons</li>
            <li data-menu="gyhuji">Les retraites</li>
            <li><a href="calendrier.php">Le calendrier</a></li>
        </ul>
        <ul class="sub-menu" data-menu="vgbhnj">
            <li><a href="commu-commu.php">La <br>communauté</a></li>
            <li><a href="commu-origines.php">Les <br>fondateurs</a></li>
            <li><a href="commu-lrdo.php">La <br>Roche d'Or</a></li>
            <li><a href="commu-font.php">Les <br>Fontanilles</a></li>
        </ul>
        <ul class="sub-menu" data-menu="gyhuji">
            <li><a href="retraites-qui.php">Venir <br>en retraite</a></li>
            <li><a href="retraites-lrdo.php">Retraites <br>à la Roche d'Or</a></li>
            <li><a href="retraites-font.php">Retraites <br>aux Fontanilles</a></li>
            <li><a href="retraites-intervenants.php">Les <br>intervenants</a></li>
        </ul>
    </div>
    <div class="logo">
        <a class="normal" href="/"><img src="{{ asset('assets/img/logo.png') }}" alt="La Roche d'Or"></a>
    </div>
    <div class="right">
        <ul class="menu">
            <li data-menu="hbgvfc">Informations pratiques</li>
            <li data-menu="qzsedr">Les Éditions Roche d'Or</li>
            <li data-menu="defrgt">Nous soutenir</li>
        </ul>
        <ul class="sub-menu editions" data-menu="qzsedr">
            <div class="blank"></div>
            <div class="blank"></div>
            <li><a href="#">Les Editions<br> Roche d'Or</a></li>
            <li><a href="editions-nouveautes.php">Les<br> Nouveautés</a></li>
            <li><a href="editions-collections.php">Les<br> Collections</a></li>
        </ul>
        <ul class="sub-menu" data-menu="hbgvfc">
            <li><a href="infos-lrdo.php">Infos pratiques<br> de la Roche d'Or</a></li>
            <li><a href="infos-font.php">Infos pratiques<br> des Fontanilles</a></li>
            <li><a href="accueil-enfants.php">Accueil<br> des enfants</a></li>
            <li><a href="liens-amis.php">Liens<br> amis</a></li>
        </ul>
        <ul class="sub-menu" data-menu="defrgt">
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <li><a href="soutenir-temps.php">Donner<br> du temps</a></li>
            <li><a href="soutenir-dons.php">Faire<br> un don</a></li>
        </ul>
    </div>
</div>