<div class="popup">
    <div class="overlay"></div>
    <div class="box">
        <div class="message"></div>
        <div class="button continue">{{ 'continue' | trans }}</div>
        <div class="button yes">{{ 'main.yes' | trans }}</div>
        <div class="button no">{{ 'main.no' | trans }}</div>
    </div>
</div>