<p> Grazie per aver trovato il tempo di contattarci </ p>
<p> Presto riceverai una risposta dalla community via email o per posta. </ p>
<p> La Roche d'Or si impegna a essere l'unico destinatario delle informazioni che hai appena comunicato. Hai il diritto di accedere, modificare, rettificare e cancellare i dati che ti riguardano (articolo 34 della legge "Informatique et Libertés"). Per esercitare questo diritto, si prega di contattare <a href="mailto:secretariat@rochedor.fr"> secretariat@rochedor.fr </a> </ p>