<p>Thank you for taking the time to contact us.</p>
<p>You will soon receive a reply from the Community by email or by post.</p>
<p>La Roche d'Or is committed to being the only recipient of the information you have just communicated. You have the right to access, modify, rectify and delete data concerning you (article 34 of the law "Informatique et Libertés").</p>
<p>To exercise this right, please contact <a href="mailto:secretariat@rochedor.fr">secretariat@rochedor.fr</a></p>