<p> Gracias por tomarse el tiempo para contactarnos </ p>
<p> Pronto recibirá una respuesta de la Comunidad por correo electrónico o por correo postal. </ p>
<p> La Roche d'Or se compromete a ser el único destinatario de la información que acaba de comunicar. Usted tiene derecho a acceder, modificar, rectificar y eliminar los datos que le conciernen (artículo 34 de la ley "Informatique et Libertés"). Para ejercer este derecho, póngase en contacto con <a href="mailto:secretariat@rochedor.fr"> secretariat@rochedor.fr </a> </ p>