<p>Danke, dass Sie sich die Zeit genommen haben, uns zu kontaktieren</p>
<p>Sie werden bald eine Antwort von der Community per E-Mail oder per Post erhalten.</p>
<p>La Roche d'Or verpflichtet sich, der einzige Empfänger der Informationen zu sein, die Sie gerade mitgeteilt haben. Sie haben das Recht auf Zugang, Änderung, Berichtigung und Löschung von Daten, die Sie betreffen (Artikel 34 des Gesetzes "Informatique et Libertés").</p>
<p>Um dieses Recht auszuüben, wenden Sie sich bitte an <a href="mailto:secretariat@rochedor.fr">secretariat@rochedor.fr</a></p>