<p>Nous vous remercions d’avoir pris le temps de nous contacter</p>
<p>Vous recevrez prochainement une réponse de la Communauté par mail ou par courrier.</p>
<p> La Roche d’Or s'engage à être le seul destinataire des informations que vous venez de lui communiquer. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi 'Informatiques et Libertés'). Pour l'exercer, adressez vous à <a href="mailto:secretariat@rochedor.fr">secretariat@rochedor.fr</a></p>
