<html>
  <body>
    Page: 
    {{ dump(page) }}
    Locale: 
    {{ dump(avaiableLocales) }}
    Product
    {{ dump(product) }}
    <a href="{{ path('cart-add', {'productId': product.codprd}) }}">Ajouter produit</a>
  </body>
</html>