{% set bodyClass = "page" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset("assets/css/pure-css-grids.css") }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <div class="inner">
            <h1><small>Message </small>De confirmation</h1>
            <div class="dropdown single">
                <div class="item">
                  <div class="intro">
                  {{ 'security.password_reset_success_message'|trans }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        <div class="carousel">
            <div class="slides">
                <div class="slide active">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset("assets/js/page.js") }}"></script>
{% endblock %}