{% set bodyClass = "page" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <h1>{{ 'security.reset.title' | trans | raw }}</h1>
        <div class="intro">
            {% if origin == 'inscription' %}
                {% set link = url('register_calendar' ~ '-' ~ app.request.locale, {'id': idact}) %}
                <p>{{ 'security.password_reset_success_message' | trans({'%link%': link}) | raw }}</p>
            {% else %}
                {% set link = url('gift' ~ '-' ~ app.request.locale, {'giftData': giftData}) %}
                <p>{{ 'security.password_reset_success_message.don' | trans({'%link%': link}) | raw }}</p>
            {% endif %}
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}